<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @user.firstname.capitalize %>,</h2>
    <p>
      Votre compte <strong>JetText</strong> a été validé !
      <br>
      Vous pouvez dès à présent commencer la création de ressources à l'adresse <a href="<%= @url %>"><%= @url %></a>.
    </p>
    <p>
      <br>
    </p>
    <p>
      Bonne utilisation,<br>
      L'équipe d'<a href="http://iutenligne.net/">IUTenLigne</a>
    </p>
  </body>
</html>
