.cke {
	margin-bottom: 10px;
}

.block-note {
	padding-bottom: 10px !important;
	.cke{
		padding: 0 !important;
		margin: 0;
	}
	
}

.cke_chrome {
	border: 0px;
	box-shadow: none;
}
.cke_top {
	background: transparent;
	padding: 7px 7px 0 7px;
	border-radius: 0px;
	border-top: 1px solid $lightGrey;
	border-right: 1px solid $lightGrey;
	border-left: 1px solid $lightGrey;
	border-bottom: 0px;
}
.cke_bottom {
	background: transparent;
	border: 0;
	box-shadow: none;
	color: $grey;
}
.cke_toolgroup {
	border: 0px;
}
.cke_toolgroup, .cke_combo_button {
	box-shadow: none;

	background-image: none !important;
	background: $white !important;
}
.cke_contents {
	border: 1px solid $lightGrey;
}
.cke_focus .cke_contents {
	border: 1px solid $lightBlue !important;
}



