@import "vars";
@import "../../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss";


/* pour les pages login*/
.middle {
	.actions {
		.btn {
			background: $blue;
			border-color: #517cae;
			margin-top: 5px;
		}
	}
}
/* pour la liste des containers*/
.containers {
	margin: 10px;
	padding: 0;

	.row {
		margin: 0;
		padding: 0;
		.tags {
			padding:0;
			list-style: none;
			.tag:hover {
				background-color: $grey;
			}
			
			.tag {
				border: 1px solid #dcdcdc;
				border-top: 5px solid $lightBlue;
				margin: 10px;
				background: $white;
				box-shadow: 0 2px 2px 0px rgba(0,0,0,0.10);

				.contenu:before {
					content: '';
					width: 0;
					height: 0;
					text-align: left;
					border-style: solid;
					border-width: 10px 10px 0 10px;
					margin-left: 15px;
					border-color: $lightBlue transparent transparent transparent;
				}
				.contenu {
					-moz-border-radius-bottomright:4px;
					-webkit-border-bottom-right-radius:4px;	
					border-bottom-right-radius:4px;
					-moz-border-radius-topright:4px;
					-webkit-border-top-right-radius:4px;	
					border-top-right-radius:4px;
					height: 60px;
					padding-top: 5px;

					
					.elem {
						display: inline-block;
						width: 100%;
						margin-top: -5px;

						.name {
							width: 50%;
							float: left;

							a {
								padding: 0 20px 20px 20px;
								color: #222222;
								font-size: 1.143em;
								line-height: 1px;
								margin-top: -5px;
							}
							a:hover {
								text-decoration: none;
							}
						}
						.option {
							width: 50%;
							float: right;
							text-align: right;

							a{
								padding:0 10px 0 12px;
								color:#383838;
								text-decoration:none;
								font-size: 17px;
							}
							a:hover {
								color:#D6D7D1;
							}
						}
					}
				}
			}
		}
	}	
	ul.menu{
		list-style: none;
		margin-left: 43px;
		clear: both;
		margin-top: 85px;
		@include span(12 of 12);
		li{
			
			background: #989897;
			margin-top: 10px;
			min-width: 367px;
			max-width: 400px;
			a{
				display: inline-block;
				vertical-align: middle;
				background: #eeece1;
				padding: 15px;
				margin-left: 7px;
				min-width: 394px;
				max-width: 424px;
				i{
					color:#989897;
					font-size: 22px;
					padding-right: 15px;
				}
			}
		}
	}

}
/* pour show */
.hexagon {
	display: inline-block;
	position: relative;
	background: #eeece1;
	text-align: center;
	text-decoration: none;
	i{
		position: relative;
		z-index: 1;
		font-size: 27px;
		text-align: center;
		line-height: 46px;
		color: #4c4c4b;
	}
}
.hexagon:after {
 	content: '';
	position: absolute;
	left: 0;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	background: inherit;
	transform: rotate(-60deg);
}
.hexagon:before {
	content: '';
	position: absolute;
	left: 0;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	background: inherit;
	transform: rotate(60deg);				
}
.hexagon:hover, .hexagon:hover::before, .hexagon:hover::after{
	-webkit-box-shadow: 10px 0px 0px #888887,
		-10px 0px 0px  #888887;
	-moz-box-shadow:10px 0px 0px  #888887,
		-10px 0px 0px  #888887;
	-o-box-shadow:10px 0px 0px  #888887,
		-10px 0px 0px  #888887;
	box-shadow:2px 0px 0px  #888887,
		-2px 0px 0px   #888887;	
	border-radius: 3px / 6px;
	i{
		color: #888887;
	}
}
.col-lg-12 {
	margin: 0;
	padding: 0;

	@include span(12 of 12);
	nav {
		margin-bottom: 0;
		background:#F8F8F8;
		background-size: cover;
		margin:0;
  		padding:0;
		div.navbar-header {
			float: none !important;
			padding-bottom: 5px;
			button {
				i {
					font-size: 25px;
					color: #888;
				}
			}
			a {
				color: #777;
				float: none;
				line-height: 50px;
				img, h1 {
					display: inline-block;
					margin: 0;
					vertical-align: middle;
				}
			}
			a:focus, a:hover {
    			color: #333;
    			text-decoration: none;
    		}
		}
		/* pour le menu a droite */
		div.sidebar {
			.sidebar-nav {
			}
		}
	}
	div#page-wrapper {
		padding: 0 15px;
    min-height: 800px;
		div.row, div.col-lg-12{
			div.editor {
				@include span(10 of 12);
			}
			div.menuEditor {
				@include span(2 of 12);
				margin-top: 80px;
				margin-right: 2px;
				position: fixed;
				float: right;
				right: 0;
				padding: 0;
				width: 80px; 
				background: green;
				.round {
					width: 9px;
					height: 9px;
					-moz-border-radius: 10px;
					-webkit-border-radius: 10px;
					border-radius: 10px;
					background: #888887;
					margin: 0 auto;
					clear: both;
				}
				.line {
					background: #888887;
					width: 2px;
					height: 50px;
					margin-top: 60px;
					margin: 0 auto;
				}
				.hexagon {
					width: 80px;
					height: 46px;
					border-radius: 3px / 6px;
					i{
						position: relative;
    					z-index: 1;
    					font-size: 27px;
    					text-align: center;
    					line-height: 46px;
    					color: #4c4c4b;
					}
				}
			}
			.menuShare{
				width: 40px;
				float: right;
				margin-top: 380px;
				background: red;
				position: fixed;
				right: 0;
				ul.share{
					list-style: none;
					padding: 0;
					margin: 0;
					li{
						margin-right: span(12 of 12);
						margin-top: 25px;
						.hexagon{
							width: 40px;
							height: 23px;
							border-radius: 2px / 3px;
							i{
		    					font-size: 17px;
		    					text-align: center;
		    					line-height: 23px;
		    					color: #4c4c4b;
							}
						}
					}
					
				}
			}
			.menuLine{
				width: 40px;
			}
		}
	}
}


@include breakpoint(765px){
	.middle{
		margin-top: 50px;
		margin-right: 30%;
		margin-left: 30%;
		width: 40%;
	}
	.col-lg-12{
		nav{
			.sidebar {
				z-index: 1;
        		position: absolute;
        		width: 250px;
        		min-height: 778px;
				ul li {
					#add_new_page, a {
						text-align: center;
						div{
							padding-top: 10px;
						}
						.btn {
							float: right;
							margin: 0 15px 3px 0;
						}
					}
				}
			}
		}
		#page-wrapper {
			position: inherit;
        	margin: 0 0 0 250px;
        	padding: 0 30px;
        	border-left: 1px solid #e7e7e7;
		}
	}
}


@include breakpoint(1020px) {

}