nav.navbar {
	color: white;

	#logo {
		width: 100%;

		h1 {
			font-family: "Pacifico",Helvetica,Arial,sans-serif;
			font-size: 30px;
			margin-top: 0;
			padding: 1px 0;
			color: white;
			text-align: center;

			a {
				color: white;
				text-decoration: none;
			}
		}
	} 

	div#user-menu,
	div#top-menu {
		width: 100%;
		padding: 10px 0;

		ul {
			text-align: right;

			li {
				display: inline-block;
				padding: 0 10px;
				margin-top: 5px;
				margin-bottom: 5px;

				a {
					color: #00AEEF;
					@include specialFont(1.2em);
					text-transform: capitalize;
				}
			}

			li.admin-links {
				background: $lightBlue;
				padding: 5px 9px 5px 10px;
				margin-bottom: 1px;
				margin-top: 0;
				a {
					i {
						color: white;
					}
				}
			}
		}
	}
}