.middle {
	width: 480px;
	text-align: right;
	margin: 0 auto;
	border-radius: 4px;
	padding-top: 20%;

	.login-panel{
		.panel-heading {
			background: $lightBlue !important;
			margin: 0;
			padding: 5px;
			border-radius: 4px 4px 0 0;

			h2 {
				text-align: center;
			}
		}
		.panel-body {
			background: $white;
			margin: 0;
			padding: 10px;
			border-radius: 0 0 4px 4px;

			.input-group {
				position: relative;
				display: table;
				border-collapse: separate;
				display: table-cell;
				margin-bottom: 5px !important;
				position: relative;
				z-index: 2;
				width: 100%;
				margin-bottom: 0;
				float: left;
				box-sizing: border-box;

				.input-addon{
					padding: 6px;
					font-size: 14px;
					font-weight: normal;
					line-height: 1.3;
					color: #555;
					text-align: center;
					background-color: #eee;
					border: 1px solid #ccc;
					border-radius: 4px 0 0 4px;
					width: 10%;
					white-space: nowrap;
					vertical-align: middle;
					float: left;
					height: 34px;
					box-sizing: border-box;
				}
				.form-control{
					display: table-cell;
					width: 90%;
					height: 34px;
					padding: 6px 12px;
					font-size: 14px;
					line-height: 1.42857143;
					color: #555;
					background-color: #fff;
					background-image: none;
					border: 1px solid #ccc;
					border-radius:0 4px 4px 0;
					border-left: none;
					-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
					box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
					-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
					-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
					transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
					position: relative;
					z-index: 2;
					float: left;
					margin-bottom: 0;
					box-sizing: border-box;
				}

			}
			.field{
				text-align: left;
			}

			.actions {
				width: 80%;
				margin: 0 auto;
				padding: 8px 5px 0 5px;
				text-align: center;
				.btn {
					background: $blue;
					border-color: #517cae;
					margin-top: 5px;
				}
			}
		}
	}

	p {
		margin-top: 5px;
	}

	a {
		color: #5B8AC2;
	}

	#login-providers {
		width: 100%;
		margin-top: 30px;
		height: auto;
		h3 {
			text-align: left;
			margin-bottom: 10px;
			font-weight: bold;
			color: #555555;
		}
		.login-provider {
			margin: 0;
			width: 180px;
			margin-bottom: 15px;
			a {
				color: white;
				.provider-btn {
					width: 100%;
					border-radius: 4px;
					height: 40px;
					padding: 0 0 0 15px;
					.provider-logo {
						width: 16px;
						height: 40px;
						float: left;
						background-image: url("login-providers.svg");
						background-repeat: no-repeat;
					}
					.provider-link {
						width: 135px;
						float: right;
						border-left: 1px solid rgba(0,0,0,0.2);
						padding: 12px 10px;
						a {
							color: white;
							font-weight: bold;
						}
					}
				}
				.facebook {
					background-color: #3b5998;
					box-shadow: inset 0 0px #2a447c,0px 5px #2a447c,0 2px 3px rgba(0,0,0,0.3);
					.provider-logo {
						background-position: -16px 13px;
					}
				}
				.google {
					background-color: #D73D32;
					box-shadow: inset 0 0px #932D14,0px 5px #932D14,0 2px 3px rgba(0,0,0,0.3);
					.provider-logo {
						background-position: 0 13px;
					}
				}
			}
		}
	}
}
