.middle {
	width: 400px;
	text-align: right;
	margin: 0 auto;
	border-radius: 4px;
	padding-top: 20%; 

	.panel-heading {
		background: $lightBlue !important;

		h2 {
			text-align: center;
		}
	}
	.panel-body {
		background: $white;

		.input-group {
			margin: 15px 0 25px 0;
		}

		.actions {
			width: 80%;
			margin: 0 auto;
			
			.btn {
				background: $blue;
				border-color: #517cae;
				margin-top: 5px;
			}
		}
	}
}

