@import "vars";

@font-face {
  font-family: 'Londrina';
  src:url('LondrinaSolid-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pacifico';
  src:url('Pacifico.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Boogaloo-Regular';
  src:url('Boogaloo-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin specialFont($size) {
  font: normal $size "Londrina",Helvetica,Arial,sans-serif !important;
  letter-spacing: 1.3px;
  text-rendering: optimizelegibility;
}

@mixin mixinPadding() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cke_textarea_inline {
	border: solid 1px #e6f1fa;
}

.hidden {
	display: none;
}

@mixin mce-fa($value) {
  content: $value;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #000;
  font-size: 1em;
  padding-right: 0.5em;
  padding-left: 0.6em;
  position: absolute;
  top: 20%;
  left: 0;
}

.mce-i-uploader:before {
  @include mce-fa("\f093");
}

.mce-i-formula:before {
  @include mce-fa("\f0c3");
}

.mce-i-glossary:before {
  @include mce-fa("\f02c");
}



#editor1, .mce-tinymce.mce-container {
	width: 100%;
  border: none;
}

/* dragula */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0;
  list-style-type: none;
}

.gu-hide {
  display: none !important;
}

.gu-hide a {
  display: none !important;
}

.gu-unselectable {
  user-select: none !important;
}

.gu-unselectable a {
  user-select: none !important;
}

.gu-transit {
  opacity: 0.8;
  border: 2px $lightBlue dashed !important;
  color: $white !important;
} 
/* */

.mce-edit-area, .mce-statusbar {
	border: none !important;
}

.mce-toolbar {
	border: none;
}

.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  height: 80px;
  margin-bottom: 10px;
}

.sortable {
  display: list-item;
}

.btn-success {
  border-radius: 6px !important;
  border: none !important;
  background: $lightBlue !important;
  box-shadow: inset 0 1px $blue,0px 5px $blue,0 2px 3px rgba(0,0,0,.3) !important;
  @include specialFont(1.5em);
  padding: 3px 12px;
}

.btn {
  @include specialFont(1.3em);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
}

.panel-heading {
  background: $blue !important;
}

.panel-title {
  color: $white !important;
  @include specialFont(1.5em);
}

.page-header {
  @include specialFont(2em);
}

.teste{
  font-size: 1000px !important;
  color: red;
}


.white {
  color: white;
}

.bottom_bar {
  margin-top: 20px;
}


.loader {
  font-size: 70px !important;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: $lightBlue;
}

.menu-transition-appear {
  margin-left: -400px;
}

.menu-transition-appear.menu-transition-appear-active {
  margin-left: 0px;
  transition: 500ms;
}

.menu-transition-leave {
  margin-left: 0px;
}

.menu-transition-leave.menu-transition-leave-active {
  margin-left: -400px;
  transition: 500ms;
}

.blocks-transition-appear {
  opacity: 0.1;
}

.blocks-transition-appear.blocks-transition-appear-active {
  opacity: 1;
  transition: 1s;
}

.blocks-transition-enter {
  opacity: 0.1;
}

.blocks-transition-enter.blocks-transition-enter-active {
  opacity: 1;
  transition: 500ms;
}

.blocks-transition-leave {
  opacity: 1;
}

.blocks-transition-leave.blocks-transition-leave-active {
  opacity: 0;
  transition: 500ms;
}


.formula {
  background: red;
}

.blocks.retracted .block .block-inner .block-content,
.blocks.retracted .block .block-inner .block-actions,
.blocks.retracted .block .block-actions {
  display: none;
}

.capitalize{
  text-transform: capitalize
}

.block-note-quote {
  border: 3px solid blue;
}

$backgrounds: ('fish.png', 'owl.png', 'bird.png');

html section#main-outlet div#wrapper .outlet article#containers ul li.container figure.book ul.hardcover_front div.coverDesign, body section#main-outlet div#wrapper .outlet article#containers ul
li.container figure.book ul.hardcover_front div.coverDesign {
  background-color: white !important;
  background-size: 100% !important;
  background-position: bottom left !important;
  background-repeat: no-repeat !important;
}

$elements: 15;
@for $i from 0 to $elements {
  $img: nth($backgrounds, random(length($backgrounds)));

  html section#main-outlet div#wrapper .outlet article#containers ul li.container figure.book ul.hardcover_front div.coverDesign, body section#main-outlet div#wrapper .outlet article#containers ul
  li.container:nth-child(#{$i}) figure.book ul.hardcover_front div.coverDesign {
    background-image: url($img) !important;
  }
}

