@import "vars";

@font-face {
  font-family: 'Londrina';
  src:url('LondrinaSolid-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pacifico';
  src:url('Pacifico.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin specialFont($size) {
  font: normal $size "Londrina",Helvetica,Arial,sans-serif !important;
  letter-spacing: 1.3px;
  text-rendering: optimizelegibility;
}

.cke_textarea_inline {
	border: solid 1px #e6f1fa;
}

.hidden {
	display: none;
}

@mixin mce-fa($value) {
  content: $value;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #000;
  font-size: 1em;
  padding-right: 0.5em;
  padding-left: 0.6em;
  position: absolute;
  top: 20%;
  left: 0;
}

.mce-i-uploader:before {
  @include mce-fa("\f093");
}

.mce-i-formula:before {
  @include mce-fa("\f0c3");
}

.mce-i-glossary:before {
  @include mce-fa("\f02c");
}

#uploadform {
	height: 150px;

	input[type=file].uploader {
	  width: 100%;
	  height: 150px;
	  vertical-align: middle;
	}
}

#editor1, .mce-tinymce.mce-container {
	width: 100%;
  border: none;
}

/* dragula */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  list-style-type: none;
}

.gu-hide {
  display: none !important
}

.gu-unselectable {
  user-select: none !important
}

.gu-transit {
  opacity: 0.2
}
/* */

.mce-edit-area, .mce-statusbar {
	border: none !important;
}

.mce-toolbar {
	border: none;
}

.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  height: 80px;
  margin-bottom: 10px;
}

.sortable {
  display: list-item;
}

.btn-success {
  border-radius: 6px !important;
  border: none !important;
  background: $lightBlue !important;
  box-shadow: inset 0 1px $blue,0px 5px $blue,0 3px 5px rgba(0,0,0,.3) !important;
  @include specialFont(1.7em);
}

.panel-heading {
  background: $blue !important;
}

.panel-title {
  color: $white !important;
  @include specialFont(1.5em);
}

.page-header {
  @include specialFont(2em);
}
.teste{
  font-size: 1000px !important;
  color: red;
}