@import "vars";
@import "../../node_modules/breakpoint-sass/stylesheets/_breakpoint.scss";


/* pour les pages login*/
.middle {
	.actions {
		.btn {
			background: $blue;
			border-color: #517cae;
			margin-top: 5px;
		}
	}
}
/* pour la liste des containers*/
.containers {
	margin: 10px;
	padding: 0;

	.row, .col-lg-12 {
		margin: 0;
		padding: 0;
		@include span(12 of 12);
		.tags {
			margin:0;
			padding:0;
			position:absolute;
			list-style: none;
			display:block;
			width: 100%;
			.tag {
				line-height:24px;
				position:relative;
				display: block;
				margin-top: 15px;
				min-width: 280px;
				max-width: 400px;
				.triangle {
					content:"";
					float:left;
					position:absolute;
					vertical-align: middle;
					top:0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 30px 43px 30px 0;
					border-color: transparent #F7F6F1 transparent transparent;
				}
				.contenu {
					-moz-border-radius-bottomright:4px;
					-webkit-border-bottom-right-radius:4px;	
					border-bottom-right-radius:4px;
					-moz-border-radius-topright:4px;
					-webkit-border-top-right-radius:4px;	
					border-top-right-radius:4px;
					background:#F7F6F1;
					vertical-align: middle;
					margin-left: 43px;
					padding-left: 15px;
					height: 60px;
					padding-top: 5px;
					.img {
						color:#383838;
						font-size: 40px;
						margin-left: 10px;
						display: inline-block;
						vertical-align: middle;
					}
					.img:after {
						content:"";
						position:absolute;
						top:26px;
						left:0;
						margin-left: 48px;
						float:left;
						width:7px;
						height:7px;
						-moz-border-radius:10px;
						-webkit-border-radius:10px;
						border-radius:10px;
						background:#fff;
						-moz-box-shadow:-1px -1px 2px #808080;
						-webkit-box-shadow:-1px -1px 2px #808080;
						box-shadow:-1px -1px 2px #808080;
					}
					.elem {
						display: inline-block;
						vertical-align: middle;
						text-align: center;
						padding-left: 20px;
						width: 80%;
						.option {
							border-top: 1px solid #D6D7D1;
							a{
								padding:0 10px 0 12px;
								color:#383838;
								text-decoration:none;
								font-size: 17px;
							}
							a:hover {
								color:#D6D7D1;
							}
						}
					}
				}
			}
			.tagWidth{
				min-width: 420px;
				max-width: 450px;
			}
		}
	}	
	ul.menu{
		list-style: none;
		margin-left: 43px;
		clear: both;
		margin-top: 85px;
		@include span(12 of 12);
		li{
			
			background: #989897;
			margin-top: 10px;
			min-width: 367px;
			max-width: 400px;
			a{
				display: inline-block;
				vertical-align: middle;
				background: #eeece1;
				padding: 15px;
				margin-left: 7px;
				min-width: 394px;
				max-width: 424px;
			}
		}
	}

}
/* pour show */
.col-lg-12{
	margin: 0;
	padding: 0;
	@include span(12 of 12);
	nav {
		margin-bottom: 0;
		ul.navbar-top-links li{
			display: inline-block;
		}
		div.navbar-header {
			float: none !important;
			z-index: 200;
			padding-bottom: 5px;
			button {
				i {
					font-size: 25px;
					color: #888;
				}
			}
			a {
				color: #777;
				float: none;
				line-height: 50px;
				img, h1{
					display: inline-block;
					margin: 0;
					vertical-align: middle;
				}
			}
			a:focus, a:hover {
    			color: #333;
    			text-decoration: none;
    		}
		}
		/* pour le menu a droite */
		div.sidebar {
			padding-right: 0;
    		padding-left: 0;
			.sidebar-nav {
				ul#side-menu {
					border-bottom: 1px solid #e7e7e7;
					margin-bottom: 10px;
					* {
						text-align: left;
					}
					a {
						display: block;
						text-decoration: none;
						li {
							border-bottom: 1px solid #e7e7e7;
							padding: 10px 10px;
							i{
								float: right;
							}
						}
					}
					a.active,a:hover {
			    		background-color: #eee;
			    		text-decoration: none;
					}
					ul.menu {
						width: span( 12 of 12);
						position: relative;
						display: block;
						border-bottom: 1px solid #e7e7e7;
						li {
							list-style: none;
							border: none;
							ul{
								li{
									padding-left: 15px;
								}
							}
						}
					}
				}
			}
		}
	}
	div#page-wrapper{
		div.row{
			div.editable_elem{
				.btn{
					float: right;
					margin-top: 10px;
					background: $blue;
				}
			}
		}
	}
}


@include breakpoint(765px){
	.middle{
		margin-top: 50px;
		margin-right: 30%;
		margin-left: 30%;
		width: 40%;
	}
	.col-lg-12{
		nav{
			.sidebar {
				display: block;
				position: absolute;
				z-index: -100;		    	
				width: span(3 of 12);
				ul li {
					#add_new_page, a {
						text-align: center;
						div{
							padding-top: 10px;
						}
						.btn {
							float: right;
							margin: 0 15px 3px 0;
						}
					}
				}
			}
		}
		#page-wrapper {
			position: inherit;
			margin-left: span(3 of 12);
			padding: 0 30px;
			border-left: 1px solid #e7e7e7;
		}
	}
}


@include breakpoint(1020px) {

}