$blue: #5B8AC2;
$lightBlue: #00AEEF;
$veryLightBlue: #85DBF2;
$grey: #302E2C;
$lightGrey: #b6b6b6;
$darkGrey: #222222;
$textGrey: #3E3E3E;
$green: #B1C552;
$white: #FFFFFF;
$brown: #E6DFD0;
$whiteSmoke: #F5F5F5;

$uiGrey: #302E2C;
$fileRed: #ec5050;
$fileBlue: #4473ac;
$filePurple: #a960ae;

$lightRed: #DC6D52;
$lightGreen: #70C536;
$lightOrange: #F3A342;
