$blue: #5B8AC2;

$veryLightBlue: #85DBF2;
/*$grey: #302E2C;*/
/*$lightGrey: #b6b6b6;*/
/*$darkGrey: #222222;*/
$textGrey: #3E3E3E;
$green: #B1C552;
$brown: #E6DFD0;
$whiteSmoke: #F5F5F5;

$uiGrey: #302E2C;

$fileYellow: #F8AB1D;
$fileRed: #ec5050;
$fileBlue: #4473ac;
$filePurple: #a960ae;



/* overall */
$lightGrey: #C6C3C0;
$white: #FFFFFF;
$grey: #f0efe9;
$iGrey: #c4c4c4;
$quoteGrey: #f2f2f2;
$darkGrey: #343230;
$lightBlue: #00AEEF;
$lightPurple: #a960ae;
$black: #000000;


/* Book containers */
$bookGrey:#2c3e50;


/* block bar*/
$lightRed: #DC6D52;
$lightGreen: #66C295;
$lightOrange: #F3A342;
$lighTbBlue: #62A7D1;
$lighTbGrey:#818C94;
$lighTbpurple:#AF89C8;
$lightYellow: #F8AB1D;


$primary: #00AEEF;
$lightness: #00AEEF;
$secondary: #00AEEF;
$tertiary: #00AEEF;


$blockBorder: #e5e5e5;

/* note-block */
$noteBg: #e8f5fc;
$noteBorder: #a2d7f5;
$importantBg: #fee2e2;
$importantBorder: #eca0a0;
$quoteBg: #f2f2f2;
$quoteBorder: #c4c4c4;
$exampleBg: #e8ffe1;
$exampleBorder: #a3d394;
$definitionBg: #fcecfc;
$definitionBorder: #e5afe6;
$methodBg: #fcf5e3;
$methodBorder: #fff0ac;