$blue: #5B8AC2;
$lightBlue: #00AEEF;
$veryLightBlue: #85DBF2;
$grey: #302E2C;
$darkGrey: #222222;
$textGrey: #3E3E3E;
$green: #B1C552;
$white: #FFFFFF;
$brown: #E6DFD0;
$whiteSmoke: #F5F5F5;
$lightOrange: #FFC488;