$blue: #5B8AC2;

$veryLightBlue: #85DBF2;
/*$grey: #302E2C;*/
/*$lightGrey: #b6b6b6;*/
/*$darkGrey: #222222;*/
$textGrey: #3E3E3E;
$green: #B1C552;
$brown: #E6DFD0;
$whiteSmoke: #F5F5F5;

$uiGrey: #302E2C;
$fileRed: #ec5050;
$fileBlue: #4473ac;
$filePurple: #a960ae;




/* overall */
$lightGrey: #C6C3C0;
$white: #FFFFFF;
$grey: #dddad6;
$darkGrey: #343230;
$lightBlue: #00AEEF;
$black: #000000;


/* Book containers */
$bookGrey:#2c3e50;



/* block bar*/
$lightRed: #DC6D52;
$lightGreen: #66C295;
$lightOrange: #F3A342;
$lighTbBlue: #62A7D1;
