@import "grids";
@import "misc";
@import "vars";

html, body {
	@include container(100%);
	margin: 0;
	padding: 0;
	background: #f6f6f6 !important;

	header {
		@import "header";
	}

	section#main-outlet {
		display: flex;
	  	min-height: 90vh;
		flex: 1 0 auto;
		margin-top: 50px;
		@include span(12 of 12);

		.outlet{
			@include span(12 of 12);
			img{
				max-width: 100%;
			}
			div#login{
				@import 'Login';
				@include span(12 of 12);
			}
			div#containers{
				@import 'containers';
				@include span(12 of 12);
				margin: 10px;
				padding: 0;
			}

			div#wrapper {
					@import 'container';
			}
		}

	}

	@import 'footer';
	@import "cke";

}
