@import "grids";
@import "misc";
@import "vars";

html, body {
	@include container(100%);
	margin: 0;
	padding: 0;
	background: #f6f6f6 !important;

	header {
		@import "header";
	}

	section#main-outlet {
		display: flex;
	  min-height: 90vh;
		flex: 1 0 auto;
		margin-top: 50px;
		@include span(12 of 12);

		div#wrapper {
			@include span(12 of 12);
			margin: 0;
			padding: 0;

			#outlet {
				@import 'editor';
				@include span(12 of 12);
				margin-top: 50px;
				padding: 0;
			}

			.outlet {
				@import 'editor';
				@include span(12 of 12);
				padding: 0;

				.row {
					h1.page-header {
						color: $darkGrey;
						border: none;
					} 
				}
			}

			.container{
				@import 'editor';
				clear: both;
				margin-top: 50px;
			}
		}
	}

	@import 'footer';
	@import "cke";
}
