@import "grids";
@import "misc";
@import "vars";

html, body {
	@include container(100%);
	margin: 0 !important;
	padding: 0 !important;
	height: 100%;
	width: 100%;
	font-family: Arial;
	background: #dddad6;

	header {
		width: 44px;
		height: 100%;
		min-height: 100%;
		float: left;
		background: #343230;
		position: fixed;
		@import "header";
	}

	section#main-outlet {
		padding-left: 0 !important;
		padding-right: 0 !important;
		background: #dddad6;
		height: 100%;
		min-height: 100%;
		margin-left: 44px;

		div#wrapper {
			margin: 0;
			padding: 0;
			height: 100%;
			min-height: 100%;

			.outlet {
				@import 'editor';
				padding: 0;
				width: 100%;
				height: 100%;
				min-height: 100%;

				article { padding: 20px; }
				
				.row {
					h1.page-header {
						color: $darkGrey;
						border: none;
					} 
				}
			}
		}
	}

	@import "cke";
} 