@import "grids";
@import "misc";
@import "vars";

html, body {
	@include container(100%);
	margin: 0 !important;
	padding: 0 !important;
	height: 100%;
	width: 100%;
	background: white;
	font-family: Arial;

	header {
		width: 44px;
		height: 100%;
		min-height: 100%;
		float: left;
		background: $uiGrey;
		position: fixed;
		@import "header";
	}

	section#main-outlet {
		padding-left: 0 !important;
		padding-right: 0 !important;
		background: white;
		height: 100%;

		div#wrapper {
			margin: 0;
			padding: 0;

			.outlet {
				@import 'editor';
				padding: 0;
				width: 100%;

				.row {
					h1.page-header {
						color: $darkGrey;
						border: none;
					} 
				}
			}
		}
	}

	@import "cke";
} 