@import "grids";
@import "misc";
@import "vars";

html, body {
	@include container(100%);
	margin: 0;
	padding: 0;
	background: #e5e5e5 !important;

	header {
		@import "header";
	}

	section#main-outlet {
	  margin-bottom: 30px;
		margin-top: 44px;
		padding-left: 0 !important;
		padding-right: 0 !important;
		@include span(12 of 12);

		div#wrapper {
			@include span(12 of 12);
			margin: 0;
			padding: 0;

			.outlet {
				@import 'editor';
				@include span(12 of 12);
				padding: 0;

				.row {
					h1.page-header {
						color: $darkGrey;
						border: none;
					} 
				}
			}
		}
	}

	@import "cke";
} 