@import "grids";
@import "misc";
@import "vars";

img{
	max-width: 100%;
}

html, body {
	@include container(100%);
	margin: 0 !important;
	padding: 0 !important;
	height: 100%;
	width: 100%;
	font-family: Arial;
	background: $grey;

	header {
		width: 44px;
		height: 100%;
		min-height: 100%;
		float: left;
		background: $darkGrey;
		position: fixed;
		@import "header";
	}

	section#main-outlet {
		padding-left: 0 !important;
		padding-right: 0 !important;
		height: 100%;
		min-height: 100%;
		margin-left: 44px;

		div#wrapper {
			margin: 0;
			padding: 0;
			height: 100%;
			min-height: 100%;
			@import "login";
			@import "users";

			.home {
				padding: 30px;

				h1 {
					font-weight: bold;
					font-size: 20px;
					margin-bottom: 30px;
				}

				.info-box {
				  background: #C2EBFF;
				  padding: 15px 20px;

				  h2 {
				    font-weight: bold;
				    font-size: 16px;
				    margin-bottom: 15px;
				  }
				}
			}

			.outlet {
				@import 'editor';
				padding: 0;
				width: 100%;
				height: 100%;
				min-height: 100%;
			}
		}
	}

	@import "cke";
}
