@import "misc";

.statics {
  padding: 30px 20px;
  max-width: 750px;
  margin: 0 auto;
  font-family: 'OpenSans', Arial, sans-serif !important;

  h1, h2, h3 {
    font-weight: bold;
    margin: 20px 0;
  }

  h1 {
    font-size: 23px;
    margin-top: 0;
  }

  h2 {
    font-size: 23px;
  }

  .paragraph {
    margin-top: 40px;
  }

  p {
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 15px;
    font-weight: 300;
  }

  ul {
    padding: 0 25px;
    li {
      line-height: 22px;
      font-size: 15px;
      font-weight: 300;
    }
  }

  .staff {
    font-weight: bold;
    margin-bottom: 40px;
    img {
      border-radius: 50px;
      float: left;
      width: 44px;
    }
    span {
      float: left;
      i.fa-circle {
        color: $lightGrey;
      }
    }
    p {
      margin: 0;
      font-weight: bold;
      padding-left: 60px;
    }
  }

  .specs {
    color: $lightBlue;
    margin-bottom: 0;
    font-weight: normal !important;
  }
}
