@import "vars";

@mixin specialFont($size) {
  font: normal $size "Londrina",Helvetica,Arial,sans-serif !important;
  letter-spacing: 1.3px;
  text-rendering: optimizelegibility;
}

#users {
  padding: 20px;
  h1 {
    font-weight: bold;
    font-size: 20px;
  }

  .logout {
    margin: 15px 0;
    margin-bottom: 15px;
    a {
      color: white;
      border-radius: 4px !important;
      border: none !important;
      background: $lightBlue !important;
      box-shadow: inset 0 0px $blue,0px 5px $blue,0 2px 3px rgba(0,0,0,.3) !important;
      @include specialFont(1.2em);
      padding: 3px 12px;
      color: white;
      cursor: pointer;
    }
  }
}
