@import "../vars";

.admin-panel {
	padding: 20px 36px;

	h1 {
		margin-bottom: 20px;
	}

	h2 {
		text-align: left;
		margin-top: 20px;
		margin-bottom: 15px;
		font-size: 20px;
		font-weight: bold;
	}

	select {
		option:disabled {
			color: $textGrey !important;
		}
	}

	table {
		width: 100%;
		background-color: white;
		padding: 10px;
		color: #222;
		border: 0;
		margin-bottom: 40px;

		tr {
			border-bottom: 1px solid #e9e9e9;
			text-align: left;

			th {
				font-weight: bold;
				padding: 8px 10px;
			}

			td {
				padding: 8px 10px;
				font-weight: normal;
				color: #222;
				text-overflow: ellipsis;
				font-size: 0.857em;

				a {
					color: $lightBlue;

					span.striked {
						text-decoration: line-through;
						color: $lightGrey;
					}
				}

				select {
					margin-left: 10px;
				}
			}

			td:first-child {
				width: 50%;
			}

			td:nth-child(2) {
				width: 15%;
			}

			td:last-child {
				a {
					padding: 0 5px;
				}
			}
		}

		tr.file {
			td.file-overview {
				padding: 2px 5px 0 5px;
				vertical-align: middle;
			}
			td.file-name:hover {
				cursor: pointer;
			}
		}

		tr:nth-child(even) {
			background-color: #EFEFEF;
		}
	}

	div.filters-bar{
		width: 100%;
		padding: 7px;
		overflow: hidden !important;

		#bars{
			width: 100%;
			overflow: hidden !important;
			margin: 0 10% 0 10%;
			span.active-filter {
				padding: 0 0 30px 0;
				border-bottom: 3px solid $lightBlue;
			}
		}
		.filter-file {
			width: 60px;
			height: 60px;
			color: white;
			font-size: 15px;
			box-shadow: 0px 2px 3px rgba(0,0,0,0.30);
			margin-left: 5px;
			margin-right: 5px;
			border: 0px;
			border-radius: 4px;
			i:before {
				font-size: 26px;
			}
		}

		.filter-file.active-filter {
			transform: scale(1.1);
		}

		.filter-image {
			background-image:linear-gradient($lightYellow,rgb(212,140,7));
			box-shadow: 2px 2px 7px 0px rgba($lightYellow,0.48);
			i:before{
					content: "\f1c5";
					font-family: FontAwesome;
			}
		}

		.filter-pdf {
			background-image:linear-gradient( $lightRed,rgb(186,67,38));
			box-shadow: 2px 2px 7px 0px rgba($lightRed,0.48);
			i:before{
				content: "\f1c1";
				font-family: FontAwesome;
			}
		}

		.filter-video {
			background-image:linear-gradient( $lighTbBlue,rgb(52,129,177));
			box-shadow: 2px 2px 7px 0px rgba($lighTbBlue,0.48);
			i:before{
				content: "\f16a";
				font-family: FontAwesome;
			}
		}

		.filter-audio {
			background-image:linear-gradient( $lighTbpurple,rgb(118,70,150));
			box-shadow: 2px 2px 7px 0px rgba($lighTbpurple,0.48);
			i:before{
				content: "\f028";
				font-family: FontAwesome;
			}
		}

		.filter-misc {
			background-image:linear-gradient( $lighTbGrey, rgb(100,110,118));
			box-shadow: 2px 2px 7px 0px rgba($lighTbGrey,0.48);
			i:before{
				content: "\f15b";
				font-family: FontAwesome;
			}
		}
	}

}
