@import "../vars";

span.bold{
  font-weight: bold;
}

.block {
	background: white;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px 2px rgba(0,0,0,0.15);
	border-radius: 4px 4px 0px 0px;

	/* global MediaBlock TextBlock NoteBlock*/
	.block-inner {
		.content {
			.focus {
				background: $lightBlue;
				padding: 7px;
				text-align: center;
				width: 150 px;
				border-radius: 7px;
				position: absolute;
				z-index: 1000;
				a {
					color: $white;
					background: $lightBlue;
					padding: 7px;

					i {
						font-size: 17px;
					}
				}

				a:hover {
					color: $blue;
				}
			}

			.block-title {
				border-radius: 4px 4px 0 0;
				margin-top: 0;
				min-height: 40px;
				width: 100%;
				display: inline-block;
				line-height: 30px;
				background: rgba(0,0,0,0.08);

				i {
					border-radius: 4px 0 0 0;
					float: left;
					padding: 6px 15px;
					line-height: 28px;
					color: white;
				}

				h3 {
					line-height: 38px;
					color: $uiGrey;
					font-weight: bold;
					float: left;
					padding: 0 15px;
					margin: 0;
					min-width: 70%;

					input {
						min-width: 85%;
						float: left;
						display: inline-block;
						padding: 6px 12px;
						font-size: 14px;
						line-height: 1.42857143;
						background-color: transparent;
						background-image: none;
						border: none;
					}

					button {
						width: 15%;
						float: left;
					}
				}
			}
		}
		
		.block-content {
			ul {
				margin-top: 20px;
				margin-left: 20px;

				li {
					margin-bottom: 15px;
				}
			}

			blockquote {
				border-left: 2px solid #F0F0F0;
				padding-left: 15px;
			}

			/* glossary tooltip*/
			a {
				position: relative;
				color: $lightBlue;
			}

			a[data]:hover:after {
			 	content: attr(data);
			 	position:absolute; 
			 	background: $uiGrey;
			 	border-radius: 4px;
			 	padding: 7px;
			 	z-index: 10;
			 	color: white;
			 	bottom: 28px;
			 	left: 0px;
			 	word-wrap: break-word ;
			 	width: 300px;
			 	text-align: center;
			}

			a[data]:hover:before {
			  	content: "";
			  	position: absolute;
			  	bottom: -7px;
			  	top: -10px;
			 		left: 0px;
			  	margin-left: 15px;  
			  	border-top: 8px solid $uiGrey;
			  	border-left: 8px solid transparent;
			  	border-right: 8px solid transparent;        
			  	border-bottom: 0;
			}
		}

		.block-content,
		.cke {
			padding: 10px 15px;
			text-align: justify;
			p {
				margin: 10px 0 10px 0;
			}
		}

		.block-save {
			padding: 0px 15px;
		}
	}



	/* option block (delete/ drag/ save / edite*/
	.action {
		text-align: right;
		width: 100%;
		color: rgba($darkGrey,0.5);
		font-size: 20px;

		.handle {
			background: none;
			border: none;
			color: rgba($darkGrey,0.5);
			font-size: 17px;
			margin: 5px;
		}

		.handle:before {
			content: "\f047";
			font-family: FontAwesome;
		}
	}
	
	.block-actions {
		position: absolute;
		background: $white;
		width: 130px;
		right: 55px;
		margin-top: 4px;
		border-bottom: none;
		border-radius: 4px;
		border: 1px solid $lightGrey;
		box-shadow: 2px 2px 4px rgba(0,0,0,0.50);

		button {
			width: 100%;
			border: none;
			background: none;
			color: $black;
			font-size: 17px;
			text-align: left;
			padding: 2px 5px 2px 5px;
		}

		button:hover {
			cursor: pointer;
		}
	}
	.block-actions:after {
		position: absolute;
		right: 14px;
		margin-top: -9px;
		top:0;
		border-top: 0;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;        
		border-bottom: 9px solid $lightGrey;
	}
	.block-actions:before {
		position: absolute;
		right: 15px;
		margin-top: -7px;
		border-top: 0;
		z-index: 10;
		border-top: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;        
		border-bottom: 8px solid $white;
	}
}

/* spacial UI block */
.block-text,
.block-texte {
	div.block-inner {
		div.block-title {
			i {
				background-image:linear-gradient($lighTbBlue, rgb(52,129,177));
			}
		}
		div.block-title:hover {
			i {
				cursor: pointer;
			}
		}
	}
}

.block-math,
.block-maths {
	div.block-inner {
		div.block-title {
			i {
				background-image:linear-gradient($lighTbpurple,rgb(118,70,150));
			}
		}
	}
}

.block-media {
	.block-inner {
		.block-title {
			i {
				background-image:linear-gradient($lightOrange,rgb(217,125,14));
			}
		}
		div.block-content{
			border: 2px dashed $lightOrange;
			width: 95%;
			display: table;
			text-align: center;			  	
			border-radius: 4px;
			margin: 0 auto;
			margin-top: 5px;
			
			.dropzone {
			  	width: 50%;
			  	height: 70px;
			  	display: table-cell;
			  	border-right: 2px solid $lightOrange;
				overflow: hidden;
				text-align: center;

				.viewDropzone{
					position: absolute;
					height: 70px;
				}
				.viewDropzonebis{
					position: relative;
					text-align: center;
					table-layout: fixed;

					.textDropzone{
						width: 100%;
				  		height: 70px;
				  		top: 0;
				  		right: 0;
				  		position: absolute;
						text-align: center;
						margin-top: 10px;
						i{
							font-size: 30px;
							margin-bottom: 5px;
						}
					}
				}
				.zoneDropzone{
					position: relative;
					height: 70px;

					input[type=file] {
						cursor: pointer;
						overflow: hidden;
						width: 100%;
				  		height: 70px;
				  		top: 0;
				  		right: 0;
				  		position: absolute;
				  		opacity: 0;
					}
				}
			}

			.browse-files{
				width: 50%;
				vertical-align: middle;
				display: table-cell;
				cursor: pointer;
				
				i {
					font-size: 30px;
					margin-bottom: 5px;
				}
			}
		}
		div.block-content.border{
			border: none;
		}
	}
}


.block-note,
.block-remarque {
	div.block-inner {
		div.content {
			.block-title {
				i {
					background-image:linear-gradient( $lightRed,rgb(186,67,38));
				}
			}
			div.block-title:hover {
				i {
					cursor: pointer;
				}
			}

			.block-note-types {
				margin: 10px 0 15px 0;
			}

			.note-style {
				display: inline-block;
				margin: 2px 2px 2px 10px;
				border-radius: 4px;
				cursor: pointer;
				text-align: center;
				box-shadow: 0px 2px 2px rgba(0,0,0,0.50);

				i {
					font-size: 25px;
					margin: 0 2px 0 2px;
					width: 35px;
					padding: 2px;
					color: $white;

				}
			}

			.important{
				background-image:linear-gradient($lightRed,rgb(186,67,38));
				box-shadow: 2px 2px 4px rgba($lightRed,0.8);
			}

			.quote{
				background-image:linear-gradient($lighTbGrey, rgb(100,110,118));
				box-shadow: 2px 2px 4px rgba($lighTbGrey,0.8);
			}

			.exemple{
				background-image:linear-gradient($lightGreen,rgb(62,156,110));
				box-shadow: 2px 2px 4px rgba($lightGreen,0.8);
			}

			.definition{
				background-image:linear-gradient($lighTbpurple,rgb(118,70,150));
				box-shadow: 2px 2px 4px rgba($lighTbpurple,0.8);
			}

			.methode{
				background-image:linear-gradient($lightOrange,rgb(217,125,14));
				box-shadow: 2px 2px 4px rgba($lightOrange,0.8);
			}

			.remarque{
				background-image:linear-gradient($lighTbBlue,rgb(52,129,177));
				box-shadow: 2px 2px 4px rgba($lighTbBlue,0.8);
			}

			.block-content {
				border: 2px solid;
				border-radius: 4px;
				margin: 5px 10px 0px 10px;

				.block-note-title {
					background: $white;
					margin: -30px 0 0 0;
					width: 160px;
					padding: 0 0 10px 8px; 
					font-size: 20px;

					i {
						padding-right: 30px;
						font-size: 25px;
					}
				}
			}

			.block-content-important {
				border-color: $lightRed;
				.block-note-title-important i{
					color: $lightRed;
				}
				.block-note-title-important:after{
					content: "Important";
					color: $lightRed;
				}
			}

			.block-content-quote {
				border-color: $lighTbGrey;
				.block-note-title-quote i{
					color: $lighTbGrey;
				}
				.block-note-title-quote:after{
					content: "Citation";
					color: $lighTbGrey;
				}
			}

			.block-content-exemple {
				border-color: $lightGreen;
				.block-note-title-exemple i{
					color: $lightGreen;
				}
				.block-note-title-exemple:after{
					content: "Exemple";
					color: $lightGreen;
				}
			}

			.block-content-definition {
				border-color: $lighTbpurple;
				.block-note-title-definition i{
					color: $lighTbpurple;
				}
				.block-note-title-definition:after{
					content: "Définition";
					color: $lighTbpurple;
				}
			}
			.block-content-methode {
				border-color: $lightOrange;
				.block-note-title-methode i{
					color: $lightOrange;
				}
				.block-note-title-methode:after{
					content: "Méthode";
					color: $lightOrange;
				}
			}

			.block-content-remarque {
				border-color: $lighTbBlue;
				.block-note-title-remarque i{
					color: $lighTbBlue;
				}
				.block-note-title-remarque:after{
					content: "Remarque";
					color: $lighTbBlue;
				}
			}
		}
	}
}

.note-icon-important:before {
	content: "\f12a";
  font-family: FontAwesome;
}

.note-icon-quote:before {
	content: "\f10d";
  font-family: FontAwesome;
}
.note-icon-exemple:before {
	content: "\f0eb";
  font-family: FontAwesome;
}
.note-icon-definition:before {
	content: "\f02e";
  font-family: FontAwesome;
}
.note-icon-methode:before {
	content: "\f085";
  font-family: FontAwesome;
}
.note-icon-remarque:before {
	content: "\f075";
  font-family: FontAwesome;
}


/* xla */
.gu-mirror {
  	background: red !important;
}

.gu-transit {
	.block-content,
	.block-actions {
		display: none;
	} 
} 
/* */

.matharea {
	min-width: 100%;
}

.mathtoolbar {
	li {
		display: inline;
	}
}