@import "../vars";

span.bold{
  font-weight: bold;
}

.block {
	background: white;
	margin-bottom: 30px;
	/*box-shadow: 0 2px 4px 2px rgba(0,0,0,0.15);
	border-radius: 4px;*/
	border-bottom: 1px solid $blockBorder;

	/* global MediaBlock TextBlock NoteBlock*/
	.block-inner {
		border-left: 1px solid $blockBorder;
		.block-inner-content {
			.focus {
				background: $lightBlue;
				padding: 7px;
				text-align: center;
				width: 150px;
				border-radius: 7px;
				position: absolute;
				z-index: 1000;

				a {
					color: $white;
					background: $lightBlue;
					padding: 7px;

					i {
						font-size: 17px;
					}
				}

				a:hover {
					color: $blue;
				}
			}

			.block-title {
				margin-top: 0;
				min-height: 22px;
				width: 100%;
				display: inline-block;
				line-height: 20px;
				border-bottom: 1px solid $blockBorder;
				margin-bottom: -3px;
				background: $grey;

				i {
					background: white;
					float: left;
					padding: 4px 22px 0px 22px;
					line-height: 22px;
					color: white;
					border-top: 3px solid;
					border-right: 1px solid $blockBorder;
					border-bottom: 1px solid white;
					margin-bottom: -1px;
					border-radius: 1px 2px 0 0;
				}

				h3 {
					line-height: 20px;
					color: #3b4045;
					font-weight: bold;
					float: left;
					padding: 0 15px;
					margin: 0;
					min-width: 90%;

					input {
						min-width: 100%;
						float: left;
						display: inline-block;
						padding: 2px 0px;
						font-size: 16px;
						line-height: 1.42857143;
						background-color: transparent;
						background-image: none;
						border: none;
						color: $black;
						font-weight: bold;

					}

					button {
            			padding-top: 5px;
						width: 10%;
						float: right;
						background: none;
						border: none;
            			cursor: pointer;

						i {
              				border-radius: 20px;
		        			float: right;
		        			font-size: 15px;
		        			padding: 0px 6px;
						}
					}
				}
			}
		}

		.block-content {
			font-family: Helvetica,Arial,sans-serif;
			margin-top: 0;
			font-size: 14px;
			line-height: 19px;
			border-right: 1px solid $blockBorder;

			ul,ol {
				margin-top: 20px;
				margin-left: 20px;

				li {
					margin-bottom: 15px;
				}
			}
			ul{
				list-style-type: disc;
			}
			ol{
				list-style-type: decimal;
			}
      		strong{
        		font-weight : bold;
      		}
		    em{
		        font-style : italic;
		    }
      		u{
        		text-decoration : underline;
      		}
      		strike{
        		text-decoration : line-through;
      		}
      		table{
		        box-shadow: 2px 2px 2px rgba($black,0.1);
		        text-align: center;
		        margin-left: auto;
		        margin-right: auto;
		        margin-bottom: 10px;

		        th,td,tr{
		        	vertical-align: middle;
		        }
	        	th{
	          		background: rgba($darkGrey,0.85);
	          		font-weight: bold;
	          		color: white;
	        	}
	        	th,td{
	        		border: 1px solid grey;
	        		padding: 0 15px;
	        	}
      		}
		    table tr:nth-child(even) {
		         background: #eee;
		    }
			table tr:nth-child(odd) {
		        background:$white;
		    }

			blockquote {
				border-left: 4px solid $iGrey;
				padding: 10px 15px 8px 15px;
				background: $quoteGrey
			}

			/* glossary tooltip */
			a {
				position: relative;
				color: $lightBlue;
			}

			a[data]:hover:after {
			 	content: attr(data);
			 	position: absolute;
			 	background: $uiGrey;
			 	border-radius: 4px;
			 	padding: 7px;
			 	z-index: 10;
			 	color: white;
			 	bottom: 28px;
			 	left: 0px;
			 	word-wrap: break-word;
			 	width: 300px;
			}

			a[data]:hover:before {
			  	content: "";
			  	position: absolute;
			  	bottom: -7px;
			  	top: -10px;
			 	left: 0px;
			  	margin-left: 15px;
			  	border-top: 8px solid $uiGrey;
			  	border-left: 8px solid transparent;
			  	border-right: 8px solid transparent;
			  	border-bottom: 0;
			}
		}

		.block-save {
			border-right: 1px solid $blockBorder;
		}

		.block-content,
		.cke {
			border-right: 1px solid $blockBorder;
			padding: 10px 15px;
			text-align: justify;
			p {
				margin: 10px 0 10px 0;
			}
		}
		/* overall block btn save bis*/
		.block-save {
			padding: 0px 15px;
			.text-block-save{
				border-radius: 20px;
				width: 35px;
				height: 35px;
				padding: 0;
				border: none;
				background-image:linear-gradient( $lighTbBlue,rgb(52,129,177));
				box-shadow: 2px 2px 4px rgba($lighTbBlue,0.20);

				i{
					font-size: 20px;
					color: $white;
				}
			}
			.note{
				background-image:linear-gradient( $lightRed,rgb(186,67,38));
				box-shadow: 2px 2px 4px rgba($lightRed,0.20);
			}
		}
	}



	/* option block (delete/ drag/ save / edite)*/
	.action {
		text-align: right;
		width: 100%;
		color: $iGrey;
		font-size: 20px;
		margin-top: 0;
		border-right: 1px solid $blockBorder;

		.handle {
			background: none;
			border: none;
			color: $iGrey;
			font-size: 17px;
			margin: 5px;
		}

		.handle:before {
			content: "\f047";
			font-family: FontAwesome;
		}
	}

	.action i {
		margin-left: 10px;
	}

	.action i.fa.fa-check {
		color: $lightBlue;
	}

	.action button {
		margin-left: 0;
		padding-left: 0;
	}

	.action i:hover {
		cursor: pointer;
    color: $lightBlue;
	}

	.action button.handle:hover {
		cursor: move;
    color: $lightBlue;
	}

	.block-actions {
		position: absolute;
		background: $white;
		width: 130px;
		right: 90px;
		margin-top: 4px;
		border-bottom: none;
		border-radius: 4px;
		border: 1px solid $lightGrey;
		box-shadow: 2px 2px 4px rgba(0,0,0,0.50);

		button {
			width: 100%;
			border: none;
			background: none;
			font-size: 17px;
			text-align: left;
			padding: 2px 5px 2px 5px;
		}

		button:hover {
			cursor: pointer;
			color: $lightBlue;
		}
	}

	.block-actions:after {
		position: absolute;
		right: 61px;
		margin-top: -9px;
		top:0;
		border-top: 0;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;
		border-bottom: 9px solid $lightGrey;
	}
	.block-actions:before {
		position: absolute;
		right: 62px;
		margin-top: -8px;
		border-top: 0;
		z-index: 10;
		border-top: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid $white;
	}
	.block-actions.block-moves:after {
		right: 8px;
	}
	.block-actions.block-moves:before {
		right: 9px;
	}
}

/* spacial UI block */
.block-text,
.block-texte {
	div.block-inner {
		div.block-title {
			i {
				border-top-color: $lightBlue !important;
				color: $lightBlue !important;
			}
		}
		div.block-title:hover {

			i {
				cursor: pointer;
			}
		}
	}
}

.block-math,
.block-maths {
	div.block-inner {
		div.block-title {
			i {
				border-top-color: $lightPurple !important;
				color: $lightPurple !important;
			}
		}
		div.block-content {
			width: 100%;

			#output{
				width: 100%;
				border: 1px dashed #dedede;
				box-sizing: border-box;
				border-radius: 4px;
				background: #f7f7f7;
			}
			#block-math{
				width: 100%;
				margin-top: 20px;
				border: 1px solid #dedede;
				box-sizing: border-box;
				border-radius: 4px;
				padding: 5px;
				max-width: 100%;
			}
			#block-math:-webkit-input-placeholder {
			  font-style: italic;
			  font-family: Arial;
			  color: #dedede;
			}
			#block-math:-moz-placeholder {
			  font-style: italic;
			  font-family: Arial;
			  color: #dedede;
			}
			#block-math::-moz-placeholder {
			  font-style: italic;
			  font-family: Arial;
			  color: #dedede;
			}
			#block-math:-ms-input-placeholder {  
			  font-style: italic;
			  font-family: Arial;
			  color: #dedede;
			}

			#block-math:focus {
			  box-shadow: 2px 2px 5px #C2EBFF;
			}

			#mathToolbar {
				width: 80%;
				margin: 0 auto;
				margin-top: 15px;
				
				div#btn{
					margin: 0 auto;

					button {
						width: 75px;
						height: 30px;
						padding: 0;
						margin: 0;
						display: inline-block;
    				transition: background-color .25s;
						cursor: pointer;
						border: none;
						border-left: 1px solid #AEAEAE;
						background: #F2F2F2;
						font-weight: bold;
					}

					button:nth-child(1) {
						border-left: 0px;
						border-radius: 4px 0 0 0;
					}
					button:last-child {
						border-radius: 0 4px 0 0;
					}

					button.toolbar-active {
						color: #1293E8;
					}
				}
				
				ul {
					padding: 15px 5px 15px 5px;
					display: inline-block;
					margin: 0 auto;
					min-height: 80px;
					width: 100%;
					border-radius: 0 4px 4px 4px;
					text-align:center;
					background: #F2F2F2;

					li{
						display: inline-block;
						margin: 2px;

						button.blankspace span {
							font-size: 14px;
						}

						button{
							border-radius: 4px;
							width: 45px;
							height: 45px;
							cursor: pointer;
							font-size: 20px;
							border: 1px solid #4bbfe6;
							background: white;
							line-height: 20px;

							img{
    						vertical-align: middle;
    						margin: 0;
    						max-width: 100%;
    						width: 45px;
								height: 45px;
							}
						}
						button:active {
						  	box-shadow: 3px 2px 2px #898989 inset, 0 2px 2px rgba(0,0,0,0.5) inset;
						}
						button:hover {
							transform: scale(1.1);
						}
					}
				}
			}
		}
	}
}

.block-media {
	.block-inner {
		div.block-inner-content {
			.block-title {
				i {
					border-top-color: $lightOrange !important;
					color: #E48D23 !important;
				}
			}

			div.block-content{
				.block-media-actions {
					border: 2px dashed $lightOrange;
					width: 95%;
					display: table;
					text-align: center;
					border-radius: 4px;
					margin: 0 auto;
					margin-top: 5px;

					.dropzone {
					  width: 50%;
					  height: 70px;
					  display: table-cell;
					  border-right: 2px solid $lightOrange;
						overflow: hidden;
						text-align: center;

						.viewDropzone{
							position: absolute;
							height: 70px;
						}

						.viewDropzonebis{
							position: relative;
							text-align: center;
							table-layout: fixed;

							.textDropzone{
								width: 100%;
						  	height: 70px;
						  	top: 0;
						  	right: 0;
						  	position: absolute;
								text-align: center;
								margin-top: 10px;
								color: $textGrey;
								i{
									font-size: 30px;
									color: $textGrey;
									margin-bottom: 5px;
								}
							}
						}
						.zoneDropzone{
							position: relative;
							height: 70px;
							color: $textGrey;

							input[type=file] {
								cursor: pointer;
								overflow: hidden;
								width: 100%;
						  		height: 70px;
						  		top: 0;
						  		right: 0;
						  		position: absolute;
						  		opacity: 0;
						  		color: $textGrey;
							}
						}

					}

		      	.browse-files:hover{
		        	color: $lightBlue;
		          	i{
		            	color: $lightBlue;
		          	}
		      	}
		       	.browse-files{
						width: 50%;
						vertical-align: middle;
						display: table-cell;
						cursor: pointer;
						color: $textGrey;

						i {
							font-size: 30px;
							margin-bottom: 5px;
							color: $textGrey;
						}
					}
				}
			}

			div.block-content.border{
				border: none;
			}

			div.block-content {
				text-align: center;
			}
		}
	}
}


.block-note,
.block-remarque {
	div.block-inner {
		div.block-inner-content {
			.block-title {
				i {
					border-top-color: $lightRed !important;
					color: $lightRed !important;
				}
			}

			div.block-title:hover {
				i {
					cursor: pointer;
				}
			}

			.block-content {
				.block-note-types {
					margin: 10px 0 15px 0;
				}

				.note-style {
					display: inline-block;
					margin: 2px 2px 2px 10px;
					border-radius: 4px;
					cursor: pointer;
					text-align: center;

					i {
						font-size: 25px;
						margin: 0 2px 0 2px;
						width: 35px;
						padding: 2px;
						color: $white;

					}
				}

				.note-style:hover {
					transform: scale(1.2);
				}

				.important i {
					color: $lightRed;
				}

				.quote i {
					color: $lighTbGrey;
				}

				.exemple i {
					color: $lightGreen;
				}

				.definition i {
					color: $lighTbpurple;
				}

				.methode i {
					color: $lightOrange;
				}

				.remarque i {
					color: $lighTbBlue;
				}

				.block-note {
					border: 2px solid;
					padding: 5px 10px 0px 10px;

					.block-note-title {
						background: $white;
						margin: -25px 0 0 0;
						width: 130px;
						padding: 0 0 10px 8px;
						font-size: 20px;

						i {
							padding-right: 30px;
							font-size: 25px;
						}
					}
				}

				.block-content-important {
					border-color: $lightRed;
					.block-note-title-important i{
						color: $lightRed;
					}
					.block-note-title-important:after{
						font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
						font-size: 24px;
						content: "Important";
						color: $lightRed;
					}
				}

				.block-content-quote {
					border-color: $lighTbGrey;
					.block-note-title-quote i{
						color: $lighTbGrey;
					}
					.block-note-title-quote:after{
						font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
						font-size: 24px;
						content: "Citation";
						color: $lighTbGrey;
					}
				}

				.block-content-exemple {
					border-color: $lightGreen;
					.block-note-title-exemple i{
						color: $lightGreen;
					}
					.block-note-title-exemple:after{
						font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
						font-size: 24px;
						content: "Exemple";
						color: $lightGreen;
					}
				}

				.block-content-definition {
					border-color: $lighTbpurple;
					.block-note-title-definition i{
						color: $lighTbpurple;
					}
					.block-note-title-definition:after{
						font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
						font-size: 24px;
						content: "Définition";
						color: $lighTbpurple;
					}
				}
				.block-content-methode {
					border-color: $lightOrange;
					.block-note-title-methode i{
						color: $lightOrange;
					}
					.block-note-title-methode:after{
						font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
						font-size: 24px;
						content: "Méthode";
						color: $lightOrange;
					}
				}

				.block-content-remarque {
					border-color: $lighTbBlue;
					.block-note-title-remarque i{
						color: $lighTbBlue;
					}
					.block-note-title-remarque:after{
						font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
						font-size: 24px;
						content: "Remarque";
						color: $lighTbBlue;
					}
				}
			}
		}
	}
}

.note-icon-important:before {
	content: "\f12a";
  font-family: FontAwesome;
}

.note-icon-quote:before {
	content: "\f10d";
  font-family: FontAwesome;
}
.note-icon-exemple:before {
	content: "\f0eb";
  font-family: FontAwesome;
}
.note-icon-definition:before {
	content: "\f02e";
  font-family: FontAwesome;
}
.note-icon-methode:before {
	content: "\f085";
  font-family: FontAwesome;
}
.note-icon-remarque:before {
	content: "\f075";
  font-family: FontAwesome;
}

.block-save {
	button {
		padding: 10px 5px;
		border: 1px solid $lightGrey;
		border-radius: 4px;
		background: none;
		i {
			color: $lightBlue;
		}
	}
	button:hover {
		cursor: pointer;
	}
}

.matharea {
	min-width: 100%;
}

.mathtoolbar {
	li {
		display: inline;
	}
}
