@import "../vars";

span.bold{
  font-weight: bold;
}

.block {
	background: white;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px 2px rgba(0,0,0,0.15);
	border-radius: 4px 4px 0px 0px;

	/* MediaBlock TextBlock NoteBlock*/
	.block-inner {
		.content {
			.focus {
				background: $lightBlue;
				padding: 7px;
				text-align: center;
				width: 150 px;
				border-radius: 7px;
				position: absolute;
				z-index: 1000;
				a {
					color: $white;
					background: $lightBlue;
					padding: 7px;

					i {
						font-size: 17px;
					}
				}

				a:hover {
					color: $blue;
				}
			}

			.block-title {
				border-radius: 4px 4px 0 0;
				margin-top: 0;
				min-height: 40px;
				width: 100%;
				display: inline-block;
				line-height: 30px;
				background: rgba(0,0,0,0.08);

				i {
					border-radius: 4px 0 0 0;
					float: left;
					padding: 6px 15px;
					line-height: 28px;
					color: white;
				}

				h3 {
					line-height: 38px;
					color: $uiGrey;
					font-weight: bold;
					float: left;
					padding: 0 15px;
					margin: 0;
					min-width: 70%;

					input {
						min-width: 85%;
						float: left;
						display: inline-block;
						padding: 6px 12px;
						font-size: 14px;
						line-height: 1.42857143;
						background-color: transparent;
						background-image: none;
						border: none;
					}

					button {
						width: 15%;
						float: left;
					}
				}
			}
		}
		
		.block-content {

			ul {
				margin-top: 20px;

				li {
					margin-bottom: 15px;
				}
			}

			/* glossary tooltip*/
			a {
				position: relative;
				color: $lightBlue;
			}

			a[data]:hover:after {
			 	content: attr(data);
			 	position:absolute; 
			 	background: $uiGrey;
			 	border-radius: 4px;
			 	padding: 7px;
			 	z-index: 10;
			 	color: white;
			 	bottom: 28px;
			 	left: 0px;
			 	word-wrap: break-word ;
			 	width: 300px;
			 	text-align: center;
			}

			a[data]:hover:before {
			  	content: "";
			  	position: absolute;
			  	bottom: -7px;
			  	top: - 10px;
			 	left: 0px;
			  	margin-left: 15px;  
			  	border-top: 8px solid $uiGrey;
			  	border-left: 8px solid transparent;
			  	border-right: 8px solid transparent;        
			  	border-bottom: 0;
			}
		}
		.block-content,
		.cke {
			padding: 10px 15px;
		}
	}

	/* option block (delete/ drag/ save / edite*/
	.action {
		text-align: right;
		width: 100%;
		color: rgba($darkGrey,0.5);
		font-size: 20px;

		.handle {
			background: none;
			border: none;
			color: rgba($darkGrey,0.5);
			font-size: 17px;
			margin: 5px;
		}

		.handle:before {
			content: "\f047";
			font-family: FontAwesome;
		}
	}
	
	.block-actions {
		position: absolute;
		background: $white;
		width: 100px;
		right: 55px;
		margin-top: 4px;
		border-bottom: none;
		border-radius: 4px;
		border: 1px solid $lightBlue;

		button {
			width: 100%;
			border: none;
			background: none;
			color: $black;
			font-size: 17px;
			text-align: left;
			padding: 2px;
		}
	}
	.block-actions:after {
		position: absolute;
		right: 14px;
		margin-top: -9px;
		top:0;
		border-top: 0;
		border-left: 9px solid transparent;
		border-right: 9px solid transparent;        
		border-bottom: 9px solid $lightBlue;
	}
	.block-actions:before {
		position: absolute;
		right: 15px;
		margin-top: -7px;
		border-top: 0;
		z-index: 10;
		border-top: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;        
		border-bottom: 8px solid $white;
	}
}

/* spacial UI block */
.block-text {
	div.block-inner {
		div.block-title {
			i {
				background-image:linear-gradient( $lighTbBlue,rgb(52,129,177));
			}
		}
	}
}

.block-media {
	.block-inner {
		.block-title {
			i {
				background-image:linear-gradient( $lightOrange,rgb(217,125,14));
			}
		}
		div.block-content{
			border: 2px dashed $lightOrange;
			width: 95%;
			display: table;
			text-align: center;			  	
			border-radius: 4px;
			margin: 0 auto;
			margin-top: 5px;
			
			.dropzone {
			  	width: 50%;
			  	height: 70px;
			  	display: table-cell;
			  	border-right: 2px solid  $lightOrange;
				overflow: hidden;
				text-align: center;

				.viewDropzone{
					position: absolute;
					height: 70px;
				}
				.viewDropzonebis{
					position: relative;
					text-align: center;
					table-layout: fixed;

					.textDropzone{
						width: 100%;
				  		height: 70px;
				  		top: 0;
				  		right: 0;
				  		position: absolute;
						text-align: center;
						margin-top: 10px;
						i{
							font-size: 30px;
							margin-bottom: 5px;
						}
					}
				}
				.zoneDropzone{
					position: relative;
					height: 70px;

					input[type=file] {
						cursor: pointer;
						overflow: hidden;
						width: 100%;
				  		height: 70px;
				  		top: 0;
				  		right: 0;
				  		position: absolute;
				  		opacity: 0;
					}
				}
			}

			.browse-files{
				width: 50%;
				vertical-align: middle;
				display: table-cell;
				cursor: pointer;
				
				i {
					font-size: 30px;
					margin-bottom: 5px;
				}
			}
		}
		div.block-content.border{
			border: none;
		}
	}
}


div.block-note {
	div.block-inner {
		div.content {
			.block-title {
				i {
					background-image:linear-gradient( $lightRed,rgb(186,67,38));
				}
			}
			.note-style{
				display: inline-block;
				margin: 2px 2px 2px 10px;
				i{
					border: 1px solid $lightGrey;
					font-size: 25px;
					margin: 0 2px 0 2px;
					width: 35px;
					padding: 4px;
					border-radius: 4px 0 0 0;
					cursor: pointer;
				}
			}
			.block-content{
				border: 3px solid;
				border-radius: 15px 0 0 0;
				margin: 4px 10px 0px 10px;
			}
			.block-content.important {
				border-color: red;
			}

			.block-content.quote {
				border-color: $lightGrey;
			}

			.block-content.exemple {
				border-color: green;
			}

			.block-content.definition {
				border-color: grey;
			}
			.block-content.methode {
				border-color:  $lightOrange;
			}

			.block-content.remarque {
				border-color:  $lighTbBlue;
			}
		}
	}
}

.note-icon-important:before {
	content: "\f12a";
  	font-family: FontAwesome;
}

.note-icon-quote:before {
	content: "\f10d";
  	font-family: FontAwesome;
}
.note-icon-exemple:before {
	content: "\f0eb";
  	font-family: FontAwesome;
}
.note-icon-definition:before {
	content: "\f02e";
  	font-family: FontAwesome;
}
.note-icon-methode:before {
	content: "\f085";
  	font-family: FontAwesome;
}
.note-icon-remarque:before {
	content: "\f0e5";
  	font-family: FontAwesome;
}

.block-note {
	.block-inner {
		.content {
			
		}
	}
}

/* dragula */
.gu-mirror {
  	background: red !important;
}

.gu-transit {
	.block-content,
	.block-actions {
		display: none;
	} 
} 
/* */