@import "../vars";

span.bold{
  font-weight: bold;
}

.block {
	background: white;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px 2px rgba(0,0,0,0.15);
	border-radius: 4px 4px 4px 4px;

	.block-inner {
		.content {
			.focus {
				background: $lightBlue;
				padding: 7px;
				text-align: center;
				width: 150 px;
				border-radius: 7px;
				position: absolute;
				
				a {
					color: $white;
					background: $lightBlue;
					padding: 7px;

					i {
						font-size: 17px;
					}
				}

				a:hover {
					color: $blue;
				}
			}

			.block-title {
				border-radius: 4px 4px 0 0;
				margin-top: 0;
				min-height: 40px;
				width: 100%;
				display: inline-block;
				line-height: 30px;
				background: rgba(0,0,0,0.08);

				i {
					border-radius: 4px 0 0 0;
					float: left;
					padding: 6px 15px;
					line-height: 28px;
				}

				h3 {
					line-height: 38px;
					color: $uiGrey;
					font-weight: bold;
					float: left;
					padding: 0 15px;
					margin: 0;
				}
			}
		}
		.overlay{
			position: fixed;
			top:40%;
			background: $whiteSmoke;
			z-index: 50;
			.block-title{
				h3{
					font-weight: normal;
				}
			}
			.block-content{
				ul{
					margin-top: 20px;
					li{
						margin-bottom: 15px;
					}
				}
			}
		}
		.block-content,
		.cke {
			padding: 10px 15px;
		}
	}
}

.block-text {
	.block-inner {
		.block-title {
			i {
				background: $lightBlue;
				color: #024A70;
			}
		}
	}
}

.block-media {
	.block-inner {
		.block-title {
			i {
				background: #70C536;
				color: #437F1F;
			}
		}
	}
}