@import "../vars";

span.bold{
  font-weight: bold;
}

.block {
	background: white;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px 2px rgba(0,0,0,0.15);
	border-radius: 4px 4px 4px 4px;

	.block-inner {
		.content {
			.focus {
				background: $lightBlue;
				padding: 7px;
				text-align: center;
				width: 150 px;
				border-radius: 7px;
				position: absolute;
				z-index: 1000;
				a {
					color: $white;
					background: $lightBlue;
					padding: 7px;

					i {
						font-size: 17px;
					}
				}

				a:hover {
					color: $blue;
				}
			}

			.block-title {
				border-radius: 4px 4px 0 0;
				margin-top: 0;
				min-height: 40px;
				width: 100%;
				display: inline-block;
				line-height: 30px;
				background: rgba(0,0,0,0.08);

				i {
					border-radius: 4px 0 0 0;
					float: left;
					padding: 6px 15px;
					line-height: 28px;
				}

				h3 {
					line-height: 38px;
					color: $uiGrey;
					font-weight: bold;
					float: left;
					padding: 0 15px;
					margin: 0;
					min-width: 70%;

					input {
						min-width: 85%;
						float: left;
						display: inline-block;
						padding: 6px 12px;
						font-size: 14px;
						line-height: 1.42857143;
						background-color: transparent;
						background-image: none;
						border: none;
					}

					button {
						width: 15%;
						float: left;
					}
				}
			}
		}
		
		.block-content{
			ul{
				margin-top: 20px;
				li{
					margin-bottom: 15px;
				}
			}
			a{
				position: relative;
				color: $lightBlue;

			}
			a[data]:hover:after{
			 	content: attr(data);
			 	position:absolute; 
			 	background: $uiGrey;
			 	border-radius: 4px;
			 	padding: 7px;
			 	z-index: 10;
			 	color: white;
			 	bottom: 28px;
			 	left: 0px;
			 	word-wrap: break-word ;
			 	width: 300px;
			 	text-align: center;
			}
			a[data]:hover:before{
			  	content: "";
			  	position: absolute;
			  	bottom: -7px;
			  	top: - 10px;
			 	left: 0px;
			  	margin-left: 15px;  
			  	border-top: 8px solid $uiGrey;
			  	border-left: 8px solid transparent;
			  	border-right: 8px solid transparent;        
			  	border-bottom: 0;
			}
		}
		.block-content,
		.cke {
			padding: 10px 15px;
		}
	}
}

.block-text {
	.block-inner {
		.block-title {
			i {
				background: $lightBlue;
				color: #024A70;
			}
		}
	}
}

.block-media {
	.block-inner {
		.block-title {
			i {
				background: $lightOrange;
				color: #437F1F;
			}
		}
	}
}

/* dragula */
.gu-mirror {
  background: red !important;
}

.gu-transit {
	.block-content,
	.block-actions {
		display: none;
	} 
} 
/* */