@import "../vars";

/* Containers.jsx */
article#containers {
	padding: 20px;

	h1.page-header {
		color: $darkGrey;
		border: none;
	}

	ul {
		width: 100%;
		li.container {
			figure.book{
				ul.hardcover_front{
					div.coverDesign{
						padding: 60px 3px 0 3px;
						background: $lightGrey;
						overflow: hidden;
						p{
							text-align: center;
							color: $bookGrey;
                    		overflow: hidden;
                    		max-height: 140px;
						}
					}
				}
				ul.sheet{
					li.option{
						a{
	                        width: 100%;
	                        display: block;
	                        padding: 0;
	                        text-align: left;
	                        margin: 12px 0 5px 25px;
	                        cursor: pointer;
	                        color: $bookGrey;
	                    }
	                    a:hover{
	                    	color: $lightBlue;
	                    }
					}
				}
			}
		}
	}
}


/* import css Containers.jsx */
#container {
	height: 100%;
	min-height: 100%;
	padding: 0;
	@import 'container';
}


