@import "../vars";


#container-wrapper {
	margin-left: 344px;
	padding: 20px 36px;

	.header {
		a, a:hover {
			text-decoration: none;

			h1 {
				color: $uiGrey;
				padding-bottom: 10px;
				border-bottom: 1px solid $lightBlue;
				font-size: 26px;
			}
		}
	}

	.content {
		/* Page.jsx */
		div.page {
			@import 'pages';
		}
	}
}