@import "../vars";

/* Containers.jsx */
article#containers {

}

#container {
	height: 100%;
	min-height: 100%;
	padding: 0;
	@import 'container';

	#sidebar-wrapper {
		/* Menu.jsx */
		width: 300px;
		float: left;
		height: 100%;
		min-height: 100%;
		background: $uiGrey;
		@import 'menu';
	}
}


