@import "../vars";
@import "../login";


#sidebar-wrapper {
	/* Menu.jsx */
	width: 300px;
	height: 100%;
	float: left;
	height: 100%;
	background: $uiGrey;
	position: fixed;
	bottom: 0;
	border-left: 1px solid rgba(0,0,0,0.005);
	border-left-color: rgba(255,255,255,0.05);
	@import 'menu';
}

#container-wrapper {
	margin-left: 300px;
	padding: 20px 36px;

	div.header {
		margin-bottom: 25px;
		height: 50px;
		width: 100%;

		#previewbutton {
			width: 5%;
			float: left;
			button {
				height: 45px;
				width: 45px;
				background-image: linear-gradient($lightBlue, #00a0db);
				color: white;
				border-radius: 50px;
				cursor: pointer;
				box-shadow: 2px 2px 4px rgba($lightBlue,0.20);
    			border: 0;

				i {
					font-size: 20px;
				}
			}
		}

		h1 {
			width: 95%;
			input {
				font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
				text-transform: capitalize;
				background: none !important;
				border: none;
				font-size: 36px;
				padding-bottom: 10px;
				color: $uiGrey;
				width: 80%;
				float: left;
			}
			button {
				width: 9%;
				float: right;
				background: none;
				border: none;
				i{
					border-radius: 20px;
					float: right;
					font-size: 20px;
					background: $white;
					padding: 8px;
				}
			}
		}

	}

	.content {
		/* Page.jsx */
		div.page {
			@import 'pages';
		}
	}
}