@import "../vars";
@import "../login";


#sidebar-wrapper {
	/* Menu.jsx */
	width: 300px;
	height: 100%;
	float: left;
	height: 100%;
	background: $uiGrey;
	position: fixed;
	bottom: 0;
	border-left: 1px solid rgba(0,0,0,0.005);
	border-left-color: rgba(255,255,255,0.05);
	@import 'menu';
}
#container-wrapper {
	margin-left: 300px;
	padding: 20px 36px;

	div.header {
		margin-bottom: 25px;
		height: 50px;

		#previewbutton {
			width: 5%;
			float: left;
			line-height: 40px;

			button {
				height: 30px;
				width: 30px;
				background-image: linear-gradient(#DC6D52, #ba4326);
				color: white;
				border-radius: 4px;
				cursor: pointer;
				box-shadow: 2px 2px 4px rgba(0,0,0,0.20);
    		border: 0;

				i {
					font-size: 16px;
				}
			}
		}

		h1 {
			input {
				text-transform: capitalize;
				background: none !important;
				border: none;
				font-size: 36px;
				padding-bottom: 10px;
				color: $uiGrey;
				width: 95%;
				float: left;
			}
		}

	}

	.content {
		/* Page.jsx */
		div.page {
			@import 'pages';
		}
	}
}