@import "../vars";
@import "../login";


#sidebar-wrapper {
	/* Menu.jsx */
	width: 300px;
	height: 100%;
	float: left;
	height: 100%;
	background: $uiGrey;
	position: fixed;
	bottom: 0;
	border-left: 1px solid rgba(0,0,0,0.005);
	border-left-color: rgba(255,255,255,0.05);
	@import 'menu';
}
#container-wrapper {
	margin-left: 300px;
	padding: 20px 36px;

	.header {
		margin-bottom: 25px;

		a, a:hover {
			text-decoration: none;

			h1 {
				color: $uiGrey;
				padding-bottom: 10px;
				border-bottom: 1px solid $lightBlue;
				font-size: 26px;
				text-transform: capitalize;

				input {
					background-color: transparent;
					background-image: none;
					border: none;
				}
			}
		}
	}

	.content {
		/* Page.jsx */
		div.page {
			@import 'pages';
		}
	}
}