@import "../vars";
@import "../login";


#sidebar-wrapper {
	/* Menu.jsx */
	width: 300px;
	height: 100%;
	float: left;
	background: $uiGrey;
	position: fixed;
	bottom: 0;
	border-left: 1px solid rgba(0,0,0,0.005);
	border-left-color: rgba(255,255,255,0.05);
	overflow-x: hidden !important;
	overflow-y: auto !important;
	@import 'menu';
}

#container-wrapper {
	margin-left: 300px;
	margin-right: 50px;
	padding: 20px 36px;

	.content {
		/* Page.jsx */
		width: 100%;
		margin-top: 40px;
		
		div.page {
			@import 'pages';
		}

		div#create_new_page {
			margin-left: 10%;
			margin-right: 20%;
			width: 80%;

			span.input-group-addon {
				font-size: 14px;
				font-weight: normal;
				line-height: 2.4;
				text-align: center;
				background-color: #eee;
				border: 1px solid #ccc;
				border-radius: 4px 0 0 4px;
				white-space: nowrap;
				vertical-align: middle;
				float: left;
				height: 34px;
				width: 10%;
			}

			input {
				display: table-cell;
				height: 34px;
				padding: 6px 12px;
				font-size: 14px;
				line-height: 1.42857143;
				color: #555;
				background-color: #fff;
				background-image: none;
				border: 1px solid #ccc;
				border-radius:0 4px 4px 0;
				border-left: none; 
				-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
				box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
				-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
				-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
				transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
				position: relative;
				z-index: 2;
				float: left;
				margin-bottom: 15px;
				width: 90%;
			}
			
			.btn-success{
				float: right;
				color: $white;
			}
		}
	}
}