@import "../vars";

/* Containers.jsx */
article#containers {
	padding: 20px;

	.containers {
		margin-top: 15px;
		margin-bottom: 30px;

		h1.page-header {
			color: $darkGrey;
			border: none;
			margin-bottom: 15px;
		}

		ul.align{
			width: 100%;
			margin: 0;
			padding: 0;
			list-style-type: none;

			li#add-container{
				button {
					height: 40px;
				}
			}
		}

		.containers-table {
			margin-top: 40px;
			width: 100%;
			thead {
				tr {
					line-height: 30px;
					th {
						text-align: left;
						padding: 0 5px;
						color: #8e8e8e;
					}
				}
			}
			tbody {
				tr {
					line-height: 30px;
					border-top: 1px solid #c3c3c3;
					td {
						text-align: left;
						line-height: 30px;
						color: #222;
						text-overflow: ellipsis;
						padding: 0 5px;
						vertical-align: middle;
						a, li.category, span {
							font-weight: normal;
							color: #222;
							text-overflow: ellipsis;
							font-size: 0.857em;
							font-weight: bold;
							white-space: nowrap;
							padding: 0 2px;
							span.fa-stack {
								font-size: 13px
							}
						}
						li.category {
							font-weight: normal;
							list-style: none;
							float: left;
							padding: 0 7px 0 0;
						}
						span {
							font-weight: normal;
						}
						li.category:before {
							content: "■";
							padding-right: 4px;
							color: $lightBlue;
						}
						a:hover {
							cursor: pointer;
							color: $lightBlue;
						}
						a:nth-child(1) {
							span {
								color: $lightBlue;
							}
						}
						a:nth-child(2) {
							span {
								color: #55b78a;
							}
						}
						a:nth-child(3) {
							span {
								color: #f09c09;
							}
						}
						a:nth-child(4) {
							span {
								color: #8e5598;
							}
						}
						a:nth-child(5) {
							span {
								color: #E34B30;
							}
						}
					}
					td:first-child {
						width: 60%;
						padding: 0 5px;
					}
					td:nth-child(2) {
						width: 30%;
						padding: 0 5px;
					}
					td:last-child {
						padding: 0;
					}
				}
				tr:nth-child(odd) {
					background: #f4f3ef;
				}
			}
		}
	}
}


/* import css Containers.jsx */
#container {
	height: 100%;
	min-height: 100%;
	padding: 0;
	@import 'container';
}
