@import "../vars";

/* Containers.jsx */
section#containers {

}

#container {
	padding: 0;
	@import 'container';
}

aside#sidebar-wrapper {
	/* Menu.jsx */
	width: 300px;
	float: left;
	@import 'menu';
}
