@import "../vars";
@import "../login";

h1 {
	color: $darkGrey;
	border: none;
}



ul#list-term {
	margin: 55px 30px 0 30px;

	li {
		margin-bottom: 10px;
		list-style: none;
		border-radius: 4px;
		box-shadow: 2px 2px 4px rgba(0,0,0,0.30);
		padding: 10px;
		width: 100%;
		display: block;

		.title{
			font-weight: bold;
			font-size: 18px;
			color: $darkGrey;
			width: 90%;
			display: inline-block;
		}
		
		.opt{
			font-size: 18px;
			color: $lighTbBlue;
			width: 10%;
			display: inline-block;
			a{
				margin-left: 10px;
				color: $lighTbBlue;
			}
		}
		.desc{
			margin: 10px 0 5px 15px;
			width: 100%;
		}
	}


    li:nth-child(odd) {
        border: 0.5px solid $lightGrey;
    }
}
#menu-option {
	text-align: center;

	.btn-term {
	    width: 110px;
		display: inline-block;
		margin: 15px;
		text-align: center;
		color: $white;
		height: 90px;
		cursor: pointer;
		box-shadow: 2px 2px 4px rgba(0,0,0,0.50);
		transition: all .2s ease-in-out;
	    text-align: center;
	    text-decoration: none;
	    border-radius: 6px;
	    transition: background-color .25s;

	  	i {
			font-size: 35px;
			padding: 10px 0 10px 0;
		}
	}
	.btn-term.sup{
		background-image:linear-gradient( $lightRed,rgb(186,67,38));
    	box-shadow: 0px 5px #932d14, 0 3px 5px rgba(0,0,0,.3);
	}
	.btn-term.add{
		background-image:linear-gradient( $lightGreen,rgb(62,156,110));
    	box-shadow: 0px 5px #2c7f57, 0 3px 5px rgba(0,0,0,.3);
	}
}

