@import "../vars";
article#glossary {
	padding: 20px;

	h1.page-header {
		color: $darkGrey;
		border: none;
	}
	ul.content-glossary{
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: center;
		width: 100%;
		margin-top: 50px;


		li{
			list-style-type: none;
			display: inline-block;
			vertical-align: middle;
		}
		.list-group-glossary {
			list-style-type: none;
			margin: 0 20px 10px 20px ;
			background: $white;
			width: 160px !important;
			min-height: 180px !important;
			box-shadow: 2px 2px 2px rgba($black,0.2);
			z-index: 1;

			h4 {
				background: $lightBlue;
				width: 145px;
				height: 25px;
				margin-left: -20px;
				margin-top: 20px;
				box-shadow: 3px 1px 3px rgba($black,0.3);
				line-height: 1.5;
				color: $black;
			}
			.triangle{
				width: 0;
				height: 0;
				margin: 0px 0 0 -20px;
				border-width: 5px 10px;
				border-style: solid;
				border-color: rgb(0,145,200) rgb(0,145,200) transparent transparent;
			}

		}
		#addGlossary{
			border: 2px dashed $lightBlue;
			min-height: 180px !important;
			width: 180px !important;
			margin: 0 auto;
			padding: 0;
			margin-bottom: 10px;

			cursor: pointer;
			background: rgba($lightGrey,0.4);

			i{
				color: black;
				font-size: 40px;
				margin-top: 70px;
			}
		}
	}
}
