@import "../vars";

.sidebar.menu {
	border-radius: 0;
	background: $uiGrey;
	border-left: 1px solid rgba(0,0,0,0.005);
	border-left-color: rgba(255,255,255,0.05);

	.zone-header {
		text-transform: uppercase;
		color: white;
		font-size: 15px;
		padding: 10px 15px;
	} 

	ul#side-menu {
		background: $uiGrey;

		li {
			width: 100%;
			display: inline-block;
			border-top: 1px solid rgba(0,0,0,0.025);
			color: white;
			border-bottom: 1px solid rgba(0,0,0,0.005);
			border-top: 1px solid rgba(0,0,0,0.025);
			border-bottom-color: rgba(0,0,0,0.2);
			border-top-color: rgba(255,255,255,0.05);

			a {
				color: white;
				padding: 10px 0 10px 0px;
				@include mixinPadding();
				margin: 0;
				text-transform: capitalize;
				white-space: nowrap;
  				overflow: hidden;
				text-overflow: ellipsis;
				width: 300px;
			}

			a:hover {
				background-color: transparent;
			}

			a.page-link {
				width: 85%;
				max-width: 85%;
				float: left;
			}

			span.levels {
				width: 20%;
				text-align: right;
				@include mixinPadding();

				a.level-action {
					padding: 0;

					i.forbidden {

					}
				}
			}
		}

		li:hover,
		li:hover a.page-link {
			background: #cccccc;
			color: $uiGrey;
		}	
		li.active,
		li.active a.page-link {
			background: $lightBlue;
			color: $uiGrey;
		}

		li.active:after {
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			float: right;
			pointer-events: none;
		}

		li.active:after {
			border-color: rgba(136, 183, 213, 0);
			border-left-color: $lightBlue;
			border-width: 12px;
			margin-top: 7px;
			margin-left: 17px;
		}
	}


	#add_new_page {
		i {
			color: white;
		}
		width: 300px;
		padding: 10px;

		input {
			width: 70%;
			display: inline-block;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			border-radius: 4px;
		}
	}
}

$levelPadding: 8px;

.level-1 a.page-link:before,
.level-2 a.page-link:before,
.level-3 a.page-link:before,
.level-4 a.page-link:before,
.level-5 a.page-link:before {
	font-family: FontAwesome;
	font-weight: 100;
	font-size: 12px;
	color: $lightBlue;
	font-style: normal;
	display: inline-block;
	text-decoration: inherit;
	padding-right: $levelPadding !important;
}
.level-1.active a.page-link:before,
.level-2.active a.page-link:before,
.level-3.active a.page-link:before,
.level-4.active a.page-link:before,
.level-5.active a.page-link:before {
	color: white;
}

.level-1 a.page-link:before {
	content: "\f142\f141";
}
.level-2 a.page-link:before {
	content: "\f142\f141\f142\f141";
}
.level-3 a.page-link:before {
	content: "\f142\f141\f142\f141\f142\f141";
}
.level-4 a.page-link:before {
	content: "\f142\f141\f142\f141\f142\f141\f142\f141";
}
.level-5 a.page-link:before {
	content: "\f142\f141\f142\f141\f142\f141\f142\f141\f142\f141";
}

.level-0 a.page-link,
.level-1 a.page-link,
.level-2 a.page-link,
.level-3 a.page-link,
.level-4 a.page-link,
.level-5 a.page-link {
  padding-left: 15px !important;
}

.level-1,
.level-2,
.level-3,
.level-4,
.level-5 {
	background: #383634;
} 
