@import "../vars";

div.sidebar.menu {
	border-radius: 0;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 100%;
	background: $uiGrey;
	width: 100%;
	
	h2.zone-header {
		text-transform: uppercase;
		color: white;
		font-size: 15px;
		padding: 10px 15px;
	} 

	ul.side-menu {
		background: $uiGrey;

		li {
			width: 300px;
			display: inline-block;
			border-top: 1px solid rgba($black,0.025);
			color: white;
			border-bottom: 1px solid rgba($black,0.005);
			border-top: 1px solid rgba($black,0.025);
			border-bottom-color: rgba($black,0.2);
			border-top-color: rgba($white,0.05);
			display: table;


			/* bouton drag */
			div.handle{
				min-width: 15px !important;
				max-width: 15px !important;
				vertical-align: middle;
				display: table-cell;
				background: $lightGrey;
				cursor: move;
				text-align: center;
			}
			.handle:before{
				content: "\f142";
				font-family: FontAwesome;
				color: rgba($darkGrey, 0.9);
			}

			div.slide-menu{
				min-width: 20px !important;
				max-width: 20px !important;
				vertical-align: middle;
				display: table-cell;
				background: red;
				cursor: move;
				text-align: center;
			}
			.slide-menu:before{
				content: "\f142";
				font-family: FontAwesome;
				color: rgba($darkGrey, 0.9);
			}

			div.page{
				min-width: 265px !important;
				max-width: 265px !important;
				vertical-align: middle;
				display: table-cell;
				display: table;

				.page-link {
					color: white;
					padding: 10px 0 10px 0px;
					@include mixinPadding();
					margin: 0;
					text-transform: capitalize;
					white-space: nowrap;
	  				overflow: hidden;
					text-overflow: ellipsis;
					min-width: 265px !important;
					max-width: 265px !important;
					float: left;
					display: table-cell;
				}
				.page-link:hover {
					background-color: transparent;
				}
			}
		}

		li:hover,
		li:hover .page-link,{
			background: #cccccc;
			color: $uiGrey;
		}	
		li.active,
		li.active .page-link {
			background: $lightBlue;
			color: $uiGrey;
			
			.menu-actions.hidden{
				display: none;
			}
		}

		$levelPadding: 8px;

		.level-1 a.page-link:before,
		.level-2 a.page-link:before,
		.level-3 a.page-link:before,
		.level-4 a.page-link:before,
		.level-5 a.page-link:before {
			font-family: FontAwesome;
			font-weight: 100;
			font-size: 12px;
			color: $lightBlue;
			font-style: normal;
			display: inline-block;
			text-decoration: inherit;
			padding-right: $levelPadding !important;
		}
		.level-1.active a.page-link:before,
		.level-2.active a.page-link:before,
		.level-3.active a.page-link:before,
		.level-4.active a.page-link:before,
		.level-5.active a.page-link:before {
			color: white;
		}

		.level-1 a.page-link:before {
			content: ".";
		}
		.level-2 a.page-link:before {
			content: ". .";
		}
		.level-3 a.page-link:before {
			content: ". . .";
		}
		.level-4 a.page-link:before {
			content: ". . . .";
		}
		.level-5 a.page-link:before {
			content: ". . . . .";
		}

		.level-0 a.page-link,
		.level-1 a.page-link,
		.level-2 a.page-link,
		.level-3 a.page-link,
		.level-4 a.page-link,
		.level-5 a.page-link {
		  padding-left: 15px !important;
		}

		.level-1,
		.level-2,
		.level-3,
		.level-4,
		.level-5 {
			background: #383634;
		} 

	}

	#add_new_page {
		width: 300px;
		padding: 10px;

		i {
			color: white;
		}
		
		input {
			width: 70%;
			display: inline-block;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: $white;
			background-image: none;
			border: 1px solid #ccc;
			border-radius: 4px;
		}
	}
}