@import "../vars";

.sidebar.menu {
	border-radius: 0;
	background: $uiGrey;
	border-left: 1px solid rgba(0,0,0,0.005);
	border-left-color: rgba(255,255,255,0.05);

	.zone-header {
		text-transform: uppercase;
		color: white;
		font-size: 15px;
		padding: 10px 15px;
	} 

	ul#side-menu {
		background: $uiGrey;
		width: 300px;

		li {
			width: 100%;
			display: inline-block;
			border-top: 1px solid rgba(0,0,0,0.025);
			color: white;
			border-bottom: 1px solid rgba(0,0,0,0.005);
			border-top: 1px solid rgba(0,0,0,0.025);
			border-bottom-color: rgba(0,0,0,0.2);
			border-top-color: rgba(255,255,255,0.05);

			a {
				color: white;
				padding: 10px 0 10px 0px;
				@include mixinPadding();
				margin: 0;
			}

			a:hover {
				background-color: transparent;
			}

			a.page-link {
				width: 85%;
				max-width: 85%;
				float: left;
			}

			span.levels {
				width: 20%;
				text-align: right;
				@include mixinPadding();

				a.level-action {
					padding: 0;

					i.forbidden {

					}
				}
			}
		}

		li:hover,
		li.active {
			background: $lightBlue;
			color: #302E2C;
		}	

		li.active:after {
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			float: right;
			pointer-events: none;
		}

		li.active:after {
			border-color: rgba(136, 183, 213, 0);
			border-left-color: $lightBlue;
			border-width: 12px;
			margin-top: 7px;
			margin-left: 18px;
		}
	}


	#add_new_page {
		i {
			color: white;
		}
		width: 300px;
		padding: 10px;

		input {
			width: 70%;
			display: inline-block;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			border-radius: 4px;
		}
	}
}

.level-0 a.page-link {
  padding-left: 15px !important;
}

.level-1 a.page-link {
  padding-left: 30px !important;
}

.level-2 a.page-link {
  padding-left: 45px !important;
}

.level-3 a.page-link {
  padding-left: 60px !important;
}

.level-4 a.page-link {
  padding-left: 75px !important;
}

.level-5 a.page-link {
  padding-left: 90px !important;
}