@import "../vars";

div.sidebar.menu {
	border-radius: 0;
	
	max-height: 100%;
	background: $uiGrey;
	width: 100%;
	
	h2.zone-header {
		text-transform: uppercase;
		color: white;
		font-size: 15px;
		padding: 10px 15px;
	} 

	ul.side-menu {
		background: $uiGrey;
		
		width: 100%;

		li {
			width: 300px;
			display: inline-block;
			border-top: 1px solid rgba($black,0.025);
			color: white;
			border-bottom: 1px solid rgba($black,0.005);
			border-top: 1px solid rgba($black,0.025);
			border-bottom-color: rgba($black,0.2);
			border-top-color: rgba($white,0.05);
			display: table;
			max-height: 30px;
			min-height: 30px;
			margin: 0  !important;
			padding: 0 !important;

			/* bouton drag */
			div.handle{
				min-width: 15px;
				max-width: 15px;
				max-height: 30px;
				min-height: 30px;
				vertical-align: middle;
				display: table-cell;
				background: $lightGrey;
				cursor: move;
				text-align: center;
			}
			.handle:before {
				content: "\f047";
				font-family: FontAwesome;
				color: rgba($darkGrey, 0.9);
				font-size: 12px;
			}
			/* contenu menu */
			div.menu-content {
				min-width: 284px;
				max-width: 284px;
				margin: 0 !important;
				padding: 0 !important;
				max-height: 30px;
				min-height: 30px;
				overflow: hidden;
				background-position: 2% 0%;
				
				.page-link-menu {
					color: white;
					margin: 0;
					padding: 0;
					text-transform: capitalize;
					white-space: nowrap;
					text-overflow: ellipsis;
					min-width: 284px !important;
					max-width: 284px !important;
					position: absolute;
					height: 30px;
					overflow:hidden;
					line-height: 2;
					padding-left: 5px; 
				}	
			
				div.option-page {
					min-width: 0px;
					max-width: 0px;
					overflow:hidden;
					position: relative;
					float: right;
					max-height: 30px;
					min-height: 30px;
					-moz-transition: 1s;
					-webkit-transition: 1s;
					transition: 1s;
					background: $grey;
					line-height: 2;

					button {
						background: none;
						border: none;
						padding: 0 5px 0 5px;
						i{
							font-size: 16px;
						}
					}
					button.page-delete{
						i.fa-stack-2x{
							font-size: 2em;
							
						}
						i{
							margin-top: -3px;
						}
					}
					button:hover {
						cursor: pointer;
						i{
							color: $lightBlue;
						}
					}
				}
			}
			
			.menu-content:hover .option-page {
				min-width: 110px;
				max-width: 110px;
			}
		}
	
		li.active,
		li.active .page-link {
			background: $lightBlue;
			color: $uiGrey;
			
			.menu-actions.hidden{
				display: none;
			}
		}

		$levelPadding: 8px;

		.level-1 a.page-link-menu:before,
		.level-2 a.page-link-menu:before,
		.level-3 a.page-link-menu:before,
		.level-4 a.page-link-menu:before,
		.level-5 a.page-link-menu:before {
			font-family: FontAwesome;
			font-weight: 100;
			font-size: 12px;
			color: $lightBlue;
			font-style: normal;
			display: inline-block;
			text-decoration: inherit;
			padding-right: $levelPadding !important;
		}

		.level-1.active a.page-link-menu:before,
		.level-2.active a.page-link-menu:before,
		.level-3.active a.page-link-menu:before,
		.level-4.active a.page-link-menu:before,
		.level-5.active a.page-link-menu:before {
			color: white;
		}

		.level-1 .menu-content {
			background: url("menu-tree.png") no-repeat 2% 0%;
			width: 16px;
			height: 30px;
			.page-link-menu {
				padding-left: 16px; 
			}
		}

		.level-2 .menu-content {
			background: url("menu-tree-l2.png") no-repeat 2% 0%;
			width: 32px;
			height: 30px;
			.page-link-menu {
				padding-left: 30px; 
			}
		}
		
		.level-3 .menu-content {
			background: url("menu-tree-l3.png") no-repeat 2% 0%;
			width: 48px;
			height: 30px;
			.page-link-menu {
				padding-left: 46px; 
			}
		}

		.level-1,
		.level-2,
		.level-3,
		.level-4,
		.level-5 {
			background: #383634;
		} 
	}

	#add_new_page {
		width: 300px;
		padding: 10px;

		span {
			font-size: 14px;
			font-weight: normal;
			line-height: 2.4;
			color: #555;
			text-align: center;
			background-color: #eee;
			border: 1px solid #ccc;
			border-radius: 4px 0 0 4px;
			width: 10%;
			white-space: nowrap;
			vertical-align: middle;
			float: left;
			height: 34px;
		}
		
		input {
			display: table-cell;
			width: 90%;
			height: 34px;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			border-radius:0 4px 4px 0;
			border-left: none; 
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
			box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
			-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			position: relative;
			z-index: 2;
			float: left;
			margin-bottom: 0;
		}
	}
}