@import "../vars";

/* title page*/
h2.header_page {
	text-transform: capitalize;
	input{
		background: none;
		border: none;
		font-size: 20px;
		margin-bottom: 25px;
		font-weight: bold;
	}
}

/* import css block*/
.blocks {
	@import 'blocks';
}

/* menu create block (media/ texte/ note. glossary)*/
#add_new_block{
	text-align: center;

	.select-action{
		width: 100px;
		display: inline-block;
		margin: 15px;
		text-align: center;
		color: $white;
		height: 80px;
		border-radius: 4px;
		cursor: pointer;
		box-shadow: 2px 2px 4px rgba(0,0,0,0.20);
		transition: all .2s ease-in-out;

		i {
			font-size: 35px;
			padding: 10px 0 10px 0;
		}

		.icon-text:before {
			content: "\f040";
    		font-family: FontAwesome;
		}

		.icon-media:before {
			content: "\f03e";
    		font-family: FontAwesome;
		}
		.icon-note:before {
			content: "\f10e";
    		font-family: FontAwesome;
		}
		.icon-math:before {
			content: "\f12b";
    		font-family: FontAwesome;
		}
	}

	.select-action:hover { transform: scale(1.1); }

	.text{
		background-image:linear-gradient( $lighTbBlue,rgb(52,129,177));
	}
	.media{
		background-image:linear-gradient( $lightOrange,rgb(217,125,14));
	}
	.note{
		background-image:linear-gradient( $lightRed,rgb(186,67,38));
	}
	.glossary{
		background-image:linear-gradient( $lightGreen,rgb(62,156,110));
		a{
			color: $white;
		}
	}	
	
}

