/* Global UI modal box*/
.modal {
	clear: both !important;
  background: rgba(0,0,0,0.8) !important;
  position: fixed !important;
	height: 100% !important;
	width: 100% !important;
	top: 0 !important;
	left: 0 !important;
	z-index: 999 !important;


	.modal-inner{
		z-index: 9999 !important;
		vertical-align: middle;
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		display: flex;

		.modal-content {
			width: 50%;
			height: 40%;
			z-index: 9999 !important;
			top:30% ;
			background: $white;
			margin: auto;
			border-top: 4px solid;
			overflow: hidden;

			#modal-header {
				border-bottom: 1px solid #e9e9e9;
				width: 100%;
				height: 40px;
				text-align: left;
				line-height: 35px;
				display: block;

				h3 {
					width: 90%;
					display: inline-block;
					font-weight: bold;
					vertical-align: middle;
					font-size: 20px;
					padding: 0 10px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}

				.close {
					width: 3%;
					display: inline-block;
					text-align: right;
					font-size: 20px;
					vertical-align: middle;
					color: $iGrey;
					i{
						color: $iGrey;
					}
				}

				.close:hover {
					cursor: pointer;
					color: $lightBlue;
				}
			}
			#modal-body {
				overflow-x: hidden !important;
				overflow-y: auto !important;
				max-height: calc(100% - 40px);

				span.input-group-addon{
					font-size: 14px;
					font-weight: normal;
					line-height: 2;
					text-align: center;
					background-color: #eee;
					border: 1px solid #ccc;
					border-radius: 4px 0 0 4px;
					white-space: nowrap;
					vertical-align: middle;
					float: left;
					height: 28px;
					width: 10%;
					box-sizing: border-box;
				}
				input {
					display: table-cell;
					height: 28px;
					padding: 6px 12px;
					font-size: 14px;
					line-height: 1.42857143;
					color: #555;
					background-color: #fff;
					background-image: none;
					border: 1px solid #ccc;
					border-radius:0 4px 4px 0;
					border-left: none;
					-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
					box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
					-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
					-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
					transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
					position: relative;
					z-index: 2;
					float: left;
					margin-bottom: 15px;
					width:90%;
					box-sizing: border-box;
				}
				.btn-success{
					width: 150px;
					float: right;
					color: $white;
					line-height: 0 !important;
				}

				.modal-in {
					padding: 15px 10px;
				}
			}
		}
		/* modal for help block*/
		.modal-content.help{
			border-color: $lighTbBlue;

			#modal-header {
				border-color: rgba($lighTbBlue,0.3);
				.close:hover {
					i{
						color: $lighTbBlue;
					}
				}
			}
			#modal-body {
				.modal-in{
					h4{
						text-align: center;
						font-weight: bold;
						font-size: 20px;
						margin-bottom: 20px;
					}
					ul{
						margin: 10px 0 10px 25px;
						list-style-type: disc;
					}
					i{
						color: $lighTbBlue;
					}
				}
				.modal-in.text{

				}
				.modal-in.note{

				}
				.modal-in.media{

				}
				.modal-in.math{

				}
			}
		}

		/* modal for glossaire*/
		.modal-content.glossaire{
			border-color: $lightGreen;
			top:20% !important;
			height: 60%;

			#modal-header {
				border-color: rgba($lightGreen,0.3);
				.close:hover {
					i{
						color: $lightGreen;
					}
				}
			}
			#modal-body {
				#glossaries{

					ul#list-glossary {
						padding: 5px 10px 5px 10px;

						li.name-glossary {
							border-radius: 4px;
							box-shadow: 2px 2px 4px rgba(0,0,0,0.30);
							margin: 15px 0 0px 0;
							width: 100%;
							padding: 5px;
							display: table;

							div.viewGlossary{
								width: 100%;
								display: table;

								.switch{
									display: table-cell;
									vertical-align: bottom;;
									width: 10%;
									padding-top: 15px;

									input.cmn-toggle {
									  position: relative !important;
										cursor: pointer;
									  outline: none;
									  user-select: none;
										display: block;
										clear: both;
										opacity: 0;
									}
									 label {
									  display: block;
									  position: relative;
									  cursor: pointer;
									  outline: none;
									  user-select: none;
									}
									input.cmn-toggle-round-flat, label {
									  padding: 2px;
									  width: 50px;
									  height: 22px;
									  background-color: #dddddd;
									  border-radius: 60px;
									  transition: background 0.4s;
									}
									input.cmn-toggle-round-flat, label:before,
									input.cmn-toggle-round-flat, label:after {
									  display: block;
									  position: absolute;
									  content: "";
									}
									input.cmn-toggle-round-flat, label:before {
									  top: 2px;
									  left: 2px;
									  bottom: 2px;
									  right: 2px;
									  background-color: #fff;
									  border-radius: 60px;
									  transition: background 0.4s;
									}
									input.cmn-toggle-round-flat, label:after {
									  top: 4px;
									  left: 4px;
									  bottom: 4px;
									  width: 18px;
									  background-color: #dddddd;
									  border-radius: 52px;
									  transition: margin 0.4s, background 0.4s;
									}
									input.cmn-toggle-round-flat:checked, label.check {
									  background-color: $lightGreen;
									}
									input.cmn-toggle-round-flat:checked, label.check:after {
									  margin-left: 28px;
									  background-color: $lightGreen;
									}
								}
								.name{
									display: table-cell;
									vertical-align: middle;
									width: 80%;
									p{
										display: inline-block;
										vertical-align: middle;
										width: 90%;
										padding-left: 10px;
										cursor: pointer;
									}
									i{
										display: inline-block;
										vertical-align: middle;
										width: 8%;
										cursor: pointer;
									}
								}
								a.delete {
									color: $lightGreen;
									display: table-cell;
									vertical-align: top;
									width: 10%;

									i{
										float: right;
										padding-right: 5px;
									}
								}
							}

							div#view-terms{
								margin-left: 17px;

								div#border{
									width: 95%;
									border-left: 7px solid rgba($grey,0.8);
									padding-left: 10px;
									height: 100%;

									ul#list-terms{
										margin: 10px 0 10px 0;
										list-style: none;
										width: 100%;
										li{
											border-radius: 4px;
											box-shadow: 2px 2px 4px rgba(0,0,0,0.30);
											padding: 10px;
											width: 100%;

											.title{
												font-weight: bold;
												width: 100%;
												a{
													width: 10%;
													float: right;
													color: $lightGreen;
													cursor: pointer;
													i{
														float: right;
													}
												}
											}

											.desc{
												padding: 5px 0 0 15px;
												width: 100%;
											}
										}
									}
									.add_new_term{
										width: 100%;
										min-height: 98px;
										div#add-term{
											width: 100%;
											height: 100%;
											padding-right: 20px;

											.btn-success{
												width: 150px;
												float: right;
												line-height: 0 !important;
												color: $white;
											}
										}

									}
								}
							}
						}
					}
					.add_new_glossary{
						margin-right: 7%;
						margin-left: 7%;
						padding-top: 15px;
					}
				}
			}
		}

		/* modal for media*/
		.modal-content.media{
			border-color: $lightOrange;
			width: 90%;
			height: 80%;
			top: 10%;
			margin-left: 5%;
			margin-right: 5%;

			#modal-header {
				border-color: rgba($lightOrange,0.3);
				h3{
					width: 92.5%;
				}
				.close {
					width: 5%;
					i{
						color: $iGrey;
					}
				}
				.close:hover {
					i{
						color: $lightOrange;
					}
				}
			}
			#modal-body{
				max-width: 100%;
				max-height: calc(100% - 40px);
				overflow-x: hidden !important;
				overflow-y: auto !important;


				#files-zone {
					padding: 10px;
					margin-top: 10px;
					border-top: 1px solid #e9e9e9;
					text-align: left;

					h3 {
						font-weight: bold;
						margin-bottom: 10px;
						text-align: left;
					}

					ul {
						list-style-type: none;
						width: 60%;
						max-height: 300px;
						overflow: hidden;
						overflow-y: auto;
						float: left;
					}

					#file-browser-preview {
						box-sizing: border-box;
						border-left: 1px solid #e9e9e9;
						width: 40%;
						float: left;

						object {
							padding-top: 0;
							width: 100%;
							text-align: center;
						}

						object[type="application/pdf"] {
							zoom: 50%;
							max-width: 100%;
							overflow: hidden;
						}

						button {
							width: 100%;
							text-align: center;
							margin: 10px;
						}
					}
				}

				div.filters-bar{
					width: 100% - 11%;
					height: 150px;
					position: fixed;
					background: $white;

					overflow: hidden !important;

					#bars{
						width: calc(100% - 20%);
						overflow: hidden !important;
						margin: 0 10% 0 10%;
						margin-top: 5px;
					}
					.filter-file {
						width: 60px;
						height: 60px;
						color: white;
						font-size: 15px;
						box-shadow: 0px 2px 3px rgba(0,0,0,0.30);
						margin-left: 5px;
						margin-right: 5px;
						border: 0px;
						border-radius: 4px;
						i:before {
							font-size: 26px;
						}
					}

					.filter-file.active-filter {
						transform: scale(1.1);
					}

					.filter-image {
						background-image:linear-gradient($lightYellow,rgb(212,140,7));
						box-shadow: 2px 2px 7px 0px rgba($lightYellow,0.48);
						i:before{
						    content: "\f1c5";
						    font-family: FontAwesome;
						}
					}

					.filter-pdf {
						background-image:linear-gradient( $lightRed,rgb(186,67,38));
						box-shadow: 2px 2px 7px 0px rgba($lightRed,0.48);
						i:before{
					    content: "\f1c1";
					    font-family: FontAwesome;
					  }
					}

					.filter-video {
						background-image:linear-gradient( $lighTbBlue,rgb(52,129,177));
						box-shadow: 2px 2px 7px 0px rgba($lighTbBlue,0.48);
						i:before{
					    content: "\f16a";
					    font-family: FontAwesome;
					  }
					}

					.filter-audio {
						background-image:linear-gradient( $lighTbpurple,rgb(118,70,150));
						box-shadow: 2px 2px 7px 0px rgba($lighTbpurple,0.48);
						i:before{
					    content: "\f028";
					    font-family: FontAwesome;
					  }
					}

					.filter-misc {
						background-image:linear-gradient( $lighTbGrey, rgb(100,110,118));
						box-shadow: 2px 2px 7px 0px rgba($lighTbGrey,0.48);
						i:before{
					    content: "\f15b";
					    font-family: FontAwesome;
					  }
					}
				}
				article#media-panel {
					width: 100%;
					margin-top: 150px;
					height: calc(100% - 120px);
					clear: both !important;

					#media-browser {
						height: calc(100% - 10%);
						display: table;
						width: 100%;

						div#media-table{
							width: 60%;
							float: left;
							display: table-cell;

							table#media-files{
								display: block;
								padding: 5px;
								box-shadow: none;
								width: 100%;
								overflow: inherit;

								thead,tbody{
									overflow: inherit;
									width: inherit;
									display: block;

									tr {
										background: none;
										border-top: 0px;
										border-bottom: 1px solid #E9E9E9;
										border-left: 0px;
										border-right: 0px;
										vertical-align: middle;
										width: inherit;
										display: block;
										white-space: nowrap;
										text-overflow: ellipsis;
										overflow: hidden;


										th:hover {
											cursor: pointer;
										}

										th, td {
											background: none;
											border: 0px;
											text-align: left !important;
											line-height: 26px;
											height: 26px;
											vertical-align: middle;
											white-space: nowrap;
											text-overflow: ellipsis;
											overflow: hidden;
										}

										th, td:nth-child(1) {
											color: #a1a1a1;
											width: 3%;
										}

										th, td:nth-child(2) {
											width: 62%;
											max-width: 62%;
										}

										th, td:nth-child(3) {
											width: 15%;
										}

										th, td:last-child {
											text-align: right;
											color: #a1a1a1;
											width: 15%;
										}
									}
								}
							}
						}

						div#media-files-preview {
							right: 6%;
							width: 30%;
							display: table-cell;
							vertical-align: top;
							max-height: 50%;
							position: fixed;
							overflow: hidden;

							#previewed-file {
								display: block;
								float: right;
								border-radius: 4px;
								border: 1px dashed #dedede;
								padding: 10px 10px 2px 10px;
								margin-bottom: 15px;
								background: #f7f7f7;

							}

							#previewed-file * {
								width: auto;
								min-width: auto !important;
							}

							#previewed-btn {
								max-width: inherit;
								float: right;
								clear: both;
								border-radius: 4px;
							  border: none !important;
							  background: $lightBlue !important;
							  @include specialFont(1.5em);
							  padding: 3px 12px;
							  color: white;
							  cursor: pointer;
							}
						}
					}
				}
			}
		}

		/* modal for export/alias*/
		.modal-content.export{
			border-color: $lighTbGrey;
			#modal-header {
				border-color: rgba($lighTbGrey,0.3);

				.close:hover {
					i{
						color: $lighTbGrey;
					}
				}
			}
			#modal-body {
				ul{
					margin: 10px 0 10px 10px;
					list-style-type: none;
					li {
						margin-bottom: 10px;
						font-size: 16px;
						box-shadow: 2px 2px 4px rgba(0,0,0,0.30);
						border-radius: 4px;
						padding: 7px;
						cursor: pointer;
						ul.selected-container-pages{
							border-left: 7px solid rgba($grey,0.8);
							li{
								box-shadow: none;
								margin: 0;
							}
    						li:before{
    							content: "\f016";
    							font-family: FontAwesome;
    							font-size: 22px;
    						}
    					}
					}
					li:before{
						content: "\f115";
    					font-family: FontAwesome;
    					padding-right: 10px;
    					font-size: 22px;
					}
				}
			}
		}

		/* modal for create */
		.modal-content.create{
			border-color: $lighTbGrey;
			top:20% !important;
			height: 40%;
			#modal-header {
				border-color: rgba($lighTbGrey,0.3);

				.close:hover {
					i{
						color: $lighTbGrey;
					}
				}
			}
			#modal-body {
				.add_new{
					margin-right: 7%;
					margin-left: 7%;
				}
				#inputs {
					position: fixed;
					padding-top: 15px;
					width: 40%;
					background: white !important;
					z-index: 50;
				}
				#submit {
					position: fixed;
					margin-top: 40px;
					background: white !important;
					z-index: 50;
					padding-right: 70px;
					overflow: hidden;
				}
				#categories-list {
					width: 60%;
					float: left;
					margin-top: 70px;
					margin-bottom: 15px;
					h4 {
						font-weight: bold;
						font-size: 16px;
						margin-bottom: 10px;
					}
					.category {
						width: 100% !important;
						list-style-type: none;
						line-height: 1.5em;
						input {
							clear: both;
							width: 20px !important;
							float: left;
							margin-bottom: 0;
							padding: 6px;
							height: 20px !important;
							line-height: 1.5em !important;
						}
					}
				}
				button {
					width: 40%;
					float: right;
				}
			}
		}

		.modal-content.createTerm{
			border-color: $lighTbGrey;
			top: 40% !important;
			height: 20%;
			#modal-header {
				border-color: rgba($lighTbGrey,0.3);

				.close:hover {
					i{
						color: $lighTbGrey;
					}
				}
			}
			#modal-body {
				.add_new{
					padding-top: 15px;
					margin-right: 7%;
					margin-left: 7%;
					.btn-success{
						margin-bottom: 5px;
					}
				}
			}
		}

		/* modal for compagnie */
		.modal-content.compagnie{
			width: 90%;
			height: 90%;
			margin: 10% !important;
			border-color: $lightRed;
			#modal-header {
				border-color: rgba($lightRed,0.3);
				h3{
					width: 92.5%;
				}
				.close{
					width: 5%;
				}
				.close:hover {
					i{
						color: $lightRed;
					}
				}
			}
			#modal-body{
				width: 100%;
				height: 100%;
				ul,li{
					list-style-type: none;
				}
			}
		}

		/* modal for appercu ressource */
		.modal-content.view{
			width: 90%;
			height: 90%;
			top: 5% !important;
			margin-left: 5%;
			margin-right: 5%;
			border-color: #32373D;
			#modal-header {
				border-color: rgba(#32373D,0.3);
				h3{
					width: 92.5%;
				}
				.close{
					width: 5%;
				}
				.close:hover {
					i{
						color: #32373D;
					}
				}
			}
			#modal-body{
				width: 100%;
				height: 100%;
				iframe {
					z-index: 9999 !important;
					left: 0;
					height: 100% !important;
					min-height: 100% !important;
					html, body {
						height: 100% !important;
						min-height: 100% !important;
						z-index: 9999 !important;
					}
				}
			}
		}

		/* modal for formulas */
		.modal-content.formula{
			width: 60%;
			margin-top: 30% !important;
			border-color: $lightRed;
			#modal-header {
				border-color: rgba($lightRed,0.3);
				.close:hover {
					i{
						color: $lightRed;
					}
				}
			}
			#modal-body{
				width: 100%;
				height: 100%;
				padding: 20px;
			}
		}
	}
}

/* Transition UI modal box*/
.modal-inner-transition-appear {
  opacity: 0.1;
  margin-top: -200px;
}

.modal-inner-transition-appear.modal-inner-transition-appear-active {
  opacity: 1;
  transition: 500ms;
  margin-top: 0;
}

.modal-inner-transition-leave {
  opacity: 1;
}

.modal-inner-transition-leave.modal-inner-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


/* pop de notification pour supression/ajout*/
.notifications-wrapper{

	.notifications-tc {
		position: absolute;
		height: 100% !important;
		width: 100% !important;
		background: rgba(0,0,0,0.8) !important;
		right: 0 !important;
		left: 0 !important;
		margin: 0 !important;
	}
	.notification{
		background: white !important;
		margin-left: 30% !important;
		margin-right: 30% !important;
		top: 10% !important;
		width: 40% !important;
		border-color: $lightBlue !important;
		border-left: 1px solid $lightBlue !important;
		border-right: 1px solid $lightBlue !important;
		border-bottom: 1px solid $lightBlue !important;
		box-shadow: none !important;

		strong, h1, h2, h3, h4, .notification-title {
			color: $lightBlue !important;
		}
		i {
			color: $lightBlue !important;
		}
		button, span {
			background-color: $lightBlue !important;
		}
	}
}


.dropzone-user {
  width: 100%;
  height: 85px;
	text-align: center;
	background: white;
	border-radius: 6px;
	border: 2px dashed $lightBlue;
	.viewDropzonebis{
		position: relative;
		.textDropzone{
			width: 100%;
	  	height: 70px;
	  	top: 0;
	  	right: 0;
	  	position: absolute;
			margin-top: 15px;
			color: $textGrey;
			i{
				font-size: 30px;
				color: $textGrey;
				margin-bottom: 5px;
			}
		}
	}
	.zoneDropzone{
		position: relative;
		height: 70px;
		color: $textGrey;
		input[type=file] {
			cursor: pointer;
			overflow: hidden;
			width: 100%;
		  	height: 70px;
	  		top: 0;
	  		right: 0;
	  		position: absolute;
	  		opacity: 0;
	  		color: $textGrey;
		}
	}
}



#mention-autocomplete {
	position: absolute;
	top: 20px;
	background: red;
}
