/* Global UI modal box*/
.modal {
	clear: both !important;
  	background: rgba(0,0,0,0.8) !important;
  	position: fixed !important;
	height: 100% !important;
	width: 100% !important;
	top: 0 !important;
	left: 0 !important;

	.modal-inner{
		display: flex;
		z-index: 10;
		vertical-align: center;
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;

		.modal-content{
			width: 50%;
			background: $whiteSmoke;
			border-radius: 4px;
			margin: auto;
			position: relative;
			vertical-align: center;
			box-shadow: 0px 2px 4px rgba(0,0,0,0.50);

			#modal-header {
				border-bottom: 1px solid #e9e9e9;
				width: 100%;
				height: 36px;
				padding: 10px 0 0 0;
				text-align: left;

				h3 {
					width: 85%;
					float: left;
					line-height: 16px;
					font-weight: bold;
					font-size: 16px;
					padding: 0 10px;
				}

				.close {
					width: 10%;
					float: left;
					text-align: right;
					font-size: 20px;
					line-height: 16px;
				}

				.close:hover {
					cursor: pointer;
				}
			}
		}
		.modal-content.view{
			width: 90%;
			height: 70%;
			#modal-body{
				width: 100%;
				height: 100%;
			}
		}

		#modal-body {
			clear: both;
			width: 100%;

			.modal-in {
				padding: 15px;

				.selected-container-pages {
					padding-left: 15px;
				}
			}
		}
	}
}

/* Transition UI modal box*/
.modal-inner-transition-appear {
  opacity: 0.1;
  margin-top: -200px;
}

.modal-inner-transition-appear.modal-inner-transition-appear-active {
  opacity: 1;
  transition: 500ms;
  margin-top: 0;
}

.modal-inner-transition-leave {
  opacity: 1;
}

.modal-inner-transition-leave.modal-inner-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.glossaries {
	padding: 10px;
}

/* Browser File UI modal box*/
.file-type {
	padding: 10px;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;

	i {
		width: 80px;
		height: 80px;
		color: white;
		vertical-align: middle;
		display: table-cell;
		font-size: 30px;
		box-shadow: 0px 2px 4px rgba(0,0,0,0.50);
	}

	i.images {
		background-image:linear-gradient( $lightYellow,rgb(212,140,7));
	}

	i.pdfs {
		background-image:linear-gradient( $lightRed,rgb(186,67,38));
	}

	i.videos {
		background-image:linear-gradient( $lighTbBlue,rgb(52,129,177));
	}

	i.audios {
		background-image:linear-gradient( $lighTbpurple,rgb(118,70,150));
	}
	
	i.miscs {
		background-image:linear-gradient( $lighTbGrey, rgb(100,110,118));
	}
}

#files-zone {
	padding: 10px;
	margin-top: 10px;
	border-top: 1px solid #e9e9e9;
	text-align: left;

	h3 {
		font-weight: bold;
		margin-bottom: 10px;
		text-align: left;
	}

	ul {
		list-style-type: none;
		width: 60%;
		max-height: 300px;
		overflow: hidden;
		overflow-y: auto;
		float: left;
	}

	#file-browser-preview {
		box-sizing: border-box;
		border-left: 1px solid #e9e9e9;
		width: 40%;
		float: left;

		object {
			padding-top: 0;
			width: 100%;
			text-align: center;
		}

		object[type="application/pdf"] {
			zoom: 50%;
			max-width: 100%;
			overflow: hidden;
		}

		button {
			width: 100%;
			text-align: center;
			margin: 10px;
		}
	}
}