/* Global UI modal box*/
.modal {
	clear: both !important;
  background: rgba(0,0,0,0.8) !important;
  position: fixed !important;
	height: 100% !important;
	width: 100% !important;
	top: 0 !important;
	left: 0 !important;
	z-index: 999 !important;

	.modal-inner{
		display: flex;
		z-index: 10;
		vertical-align: center;
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;

		.modal-content{
			width: 50%;
			background: $whiteSmoke;
			border-radius: 4px;
			margin: auto;
			position: relative;
			vertical-align: center;
			box-shadow: 0px 2px 4px rgba(0,0,0,0.50);

			#modal-header {
				border-bottom: 1px solid #e9e9e9;
				width: 100%;
				height: 30px;
				text-align: left;
				display:table;

				h3 {
					width: 90%;
					display: table-cell;
					font-weight: bold;
					vertical-align: middle;
					font-size: 20px;
					padding: 0 10px;
				}

				.close {
					width: 10%;
					display: table-cell;
					text-align: center;
					font-size: 20px;
					vertical-align: middle;
				}

				.close:hover {
					cursor: pointer;
					color: $lightBlue;
				}
			}
		}
		.modal-content.view{
			width: 90%;
			height: 70%;
			#modal-body{
				width: 100%;
				height: 100%;
			}
		}

		#modal-body {
			clear: both;
			width: 100%;
			span.input-group-addon{
				font-size: 14px;
				font-weight: normal;
				line-height: 2.4;
				text-align: center;
				background-color: #eee;
				border: 1px solid #ccc;
				border-radius: 4px 0 0 4px;
				white-space: nowrap;
				vertical-align: middle;
				float: left;
				height: 34px;
			}
			input {
				display: table-cell;
				height: 34px;
				padding: 6px 12px;
				font-size: 14px;
				line-height: 1.42857143;
				color: #555;
				background-color: #fff;
				background-image: none;
				border: 1px solid #ccc;
				border-radius:0 4px 4px 0;
				border-left: none; 
				-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
				box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
				-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
				-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
				transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
				position: relative;
				z-index: 2;
				float: left;
				margin-bottom: 15px;

			}

			.modal-in {
				padding: 15px 10px;

				ul {
					margin-left: 25px;
					margin-top: 10px;
					li {

					}
				}

				.selected-container-pages {
					padding-left: 15px;
				}
			}
			/* css ajout des glossary in glossaries view*/
			.add_new_glossary{
				margin-left: 7%;
				margin-right: 7%;
				padding-top: 15px;

				span{
					width: 10%;
				}
				input{
					width: 90%;
				}

				.btn-success {
					width: 150px;
					float: right;
					line-height: 0 !important;
					color: $white;
				}
			}
			/* css ajout des glossary in glossaries view*/
			#glossaries {
				ul#list-glossary {
					padding: 5px 10px 5px 10px;

					li.name-glossary {
						border-radius: 4px;
						box-shadow: 2px 2px 4px rgba(0,0,0,0.30);
						margin: 15px 0 0px 0;
						width: 100%;
						padding: 5px;
						display: table;

						div.viewGlossary{
							width: 100%;
							display: table;

							div.check{
								min-width: 90%;
								max-width: 90%;
								text-overflow: hidden;
								display: table-cell;
								vertical-align: middle;

								label{
									display: table;
									display: table-cell;
									vertical-align: middle;

									#IdCheckBox{
										display: none;
									}
									i{
										color: $green;
										font-size: 25px;
										display: table-cell;
										vertical-align: middle;
										padding: 0;
									}
									p{
										display: table-cell;
										vertical-align: middle;
										padding-left: 7px;
									}
								}
								i {
									display: table-cell;
									vertical-align: middle;
									padding-left: 25px;
									cursor: pointer;
								}
							}
							
							a.delete {
								color: $lightBlue;
								display: table-cell;
								vertical-align: top;
								width: 90%;
								
								i{
									float: right;
									padding-right: 5px;
								}
							}
						}
						
						div#view-terms{
							margin-left: 17px;

							div#border{
								width: 100%;
								border-left: 7px solid rgba($grey,0.8);
								padding-left: 10px;
								height: 100%;

								ul#list-terms{
									margin: 10px 0 10px 0;
									list-style: none;
									width: 100%;
									li{
										border-radius: 4px;
										box-shadow: 2px 2px 4px rgba(0,0,0,0.30);
										padding: 10px;
										width: 100%;

										.title{
											font-weight: bold;
											width: 100%;
											a{
												width: 10%;
												float: right;
												color: $lightBlue;
												cursor: pointer;
												i{
													float: right;
												}
											}
										}
										
										.desc{
											padding: 5px 0 0 15px;
											width: 100%;
										}
									}
								}
								.add_new_term{
									width: 100%;
									min-height: 98px;
									div#add-term{
										width: 100%;
										height: 100%;
										span{
											width: 10%;
										}
										input{
											width: 90%;
										}
									}
									
								}
							}
						}
					}
				}
			}
			/* css ajout des terms in glossary view*/
			#add_new_term{
				margin-top: 15px;

				#add{
					margin-left: 7%;
					margin-right: 7%;

					span{
						width: 10%;
					}

					input{
						width:90%;
					}

					.btn-success{
						width: 150px;
						float: right;
						color: $white;
						line-height: 0 !important;
					}
				}
			}
			/* css ajout de ressources in containers view*/
			#add_new_container{
				padding-top: 15px;
				margin-right: 7%;
				margin-left: 7%;
				span{
					width: 10%;
				}
				input{
					width: 90%;
				}

				.btn-success{
					width: 150px;
					float: right;
					color: $white;
					line-height: 0 !important;
				}

			}
		}
	}
}

/* Transition UI modal box*/
.modal-inner-transition-appear {
  opacity: 0.1;
  margin-top: -200px;
}

.modal-inner-transition-appear.modal-inner-transition-appear-active {
  opacity: 1;
  transition: 500ms;
  margin-top: 0;
}

.modal-inner-transition-leave {
  opacity: 1;
}

.modal-inner-transition-leave.modal-inner-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.glossaries {
	padding: 10px;
}

/* Browser File UI modal box*/
.file-type {
	padding: 10px;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;

	i {
		width: 80px;
		height: 80px;
		color: white;
		vertical-align: middle;
		display: table-cell;
		font-size: 30px;
		box-shadow: 0px 2px 4px rgba(0,0,0,0.50);
	}

	i.images {
		background-image:linear-gradient( $lightYellow,rgb(212,140,7));
	}

	i.pdfs {
		background-image:linear-gradient( $lightRed,rgb(186,67,38));
	}

	i.videos {
		background-image:linear-gradient( $lighTbBlue,rgb(52,129,177));
	}

	i.audios {
		background-image:linear-gradient( $lighTbpurple,rgb(118,70,150));
	}
	
	i.miscs {
		background-image:linear-gradient( $lighTbGrey, rgb(100,110,118));
	}
}

#files-zone {
	padding: 10px;
	margin-top: 10px;
	border-top: 1px solid #e9e9e9;
	text-align: left;

	h3 {
		font-weight: bold;
		margin-bottom: 10px;
		text-align: left;
	}

	ul {
		list-style-type: none;
		width: 60%;
		max-height: 300px;
		overflow: hidden;
		overflow-y: auto;
		float: left;
	}

	#file-browser-preview {
		box-sizing: border-box;
		border-left: 1px solid #e9e9e9;
		width: 40%;
		float: left;

		object {
			padding-top: 0;
			width: 100%;
			text-align: center;
		}

		object[type="application/pdf"] {
			zoom: 50%;
			max-width: 100%;
			overflow: hidden;
		}

		button {
			width: 100%;
			text-align: center;
			margin: 10px;
		}
	}
}

/* imput d'ajout*/
