.modal{
  background: rgba(0,0,0,0.8) !important;
  position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);

	.modal-inner{
		display: flex;
		z-index: 10;
		vertical-align: center;
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;

		#modal-content{
			width: 50%;
			background: $whiteSmoke;
			border-radius: 4px;
			margin: auto;
			position: relative;
			vertical-align: center;
			box-shadow: 0px 2px 4px rgba(0,0,0,0.50);

			#modal-header {
				border-bottom: 1px solid #e9e9e9;
				width: 100%;
				height: 30px;
				padding: 10px 0 0 0;

				h3 {
					width: 85%;
					float: left;
					line-height: 16px;
					font-weight: bold;
					font-size: 16px;
					padding: 0 10px;
				}

				.close {
					width: 10%;
					float: left;
					text-align: right;
					font-size: 20px;
					line-height: 16px;
				}

				.close:hover {
					cursor: pointer;
				}
			}
		}

		#modal-body {
			clear: both;
			width: 100%;
		}
	}
}

.modal-inner-transition-appear{
  opacity: 0.1;
  margin-top: -200px;
}

.modal-inner-transition-appear.modal-inner-transition-appear-active {
  opacity: 1;
  transition: 500ms;
  margin-top: 0;
}

.glossaries {
	padding: 10px;
}

.file-type {
	padding: 10px;
}

#files-zone {
	padding: 10px;
	margin-top: 10px;
	border-top: 1px solid #e9e9e9;

	h3 {
		font-weight: bold;
		margin-bottom: 10px;
	}

	ul {
		list-style-type: none
	}
}