.modal{
    position: fixed;
	height: 100%;
	width: 100%;
	display: flex;
	background: rgba(0,0,0,0.8);
	z-index: 10;
	top: 0;
	left: 0;
	#glossary{
		width: 50%;
		background: $whiteSmoke;
		border-radius: 4px;
		margin: auto;
		position: relative;
		vertical-align: center;
	}
}