<% unless user_signed_in? %>
  <div>
		<%= render :partial => 'devise/sessions/new' %>
	</div>
<% else %>
	<% if current_user.is_validated? %>
		<div id="appcontainer" class="outlet"></div>
	<% else %>
		<div class="home">
		  <h1>Bonjour <span class="capitalize"><%= current_user.firstname %></span> !</h1>

			<div class="content">
				<div class="info-box">
					<h2>Votre compte est en attente de validation.</h2>
					<p>Vous serez averti par email lorsqu'il sera activé.</p>
				</div>
			</div>
		</div>
	<% end %>
<% end %>

