<div className="containers">
    <div className="row outlet ">
        <h1 className="page-header">Create new container</h1>
        <%= form_for @container do |f| %>
          <div className="col-lg-6">
            <p><%= f.text_field :name, :placeholder => :title, class: "form-control" %></p>
          </div>
          <%= f.submit :save, class: "btn btn-success" %>
        <% end %>
    </div>
</div>
