<div class="statics">
  <h1>A propos</h1>

  <p>
    <span class="jettext">JetText</span> est un éditeur de ressources pédagogiques numériques créé par <strong>IUTenligne</strong>.
  </p>
  <p>
    <a href="http://iutenligne.net/" target="_blank">
      <img src="/templates/iutenligne/assets/images/iutenligne.png" width="150">
    </a>
  </p>

  <div class="paragraph">
    <h2>Philosophie</h2>

    <p>
      <span class="jettext">JetText</span> se veut simple accessible à tous en proposant une interface de conception
      simple d'utilisation. Le projet a pour but de proposer une alternative aux autres logiciels du même type. Les motivations
      principales sont les suivantes :
      <ul>
        <li>simplicité, modernité, intuitivité,</li>
        <li>la conception numérique à portée de tout le monde,</li>
        <li>zéro configuration.</li>
      </ul>
    </p>
  </div>

  <div class="paragraph">
    <h2>Technologies</h2>

    <p>
      En accord avec son objectif de simplicité, <span class="jettext">JetText</span> est un éditeur 100% en ligne.
      L'application est hébergée sur les serveurs d'IUTenligne et les créations sont stockées dans nos bases de données,
      ce qui assure la pérennité des données.
    </p>
    <p>
      Vous n'avez rien à installer. Il vous suffit juste de créer un compte. Rien ne vous retient plus pour concevoir
      de formidables ressources numériques !
    </p>
  </div>

  <div class="paragraph">
    <h2>L'équipe</h2>

    <div class="staff">
      <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/11885066_10206535036327428_7591696180370387461_n.jpg?oh=4b8227a5440038c83cea2662ca5176e5&oe=57FFFAC2">
      <p>Pierre Duverneix</p>
      <p class="specs">
        Développements backend / frontend
      </p>
    </div>

    <div class="staff">
      <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/p50x50/13260151_10154220353143216_5665736815672549464_n.jpg?oh=eb3e8bcd312061765ade2d0e2cd6cf0e&oe=57FF4087">
      <p>Thiéfaine Fafournoux</p>
      <p class="specs">
        Développements frontend
      </p>
    </div>

    <div class="staff">
      <p class="no-pic">Muriel Baluteau</p>
      <p class="specs">
        Administration système
      </p>
    </div>

    <div class="staff">
      <p class="no-pic">L'équipe d'IUTenligne</p>
      <p class="specs">
        Suggestions, directions, idées géniales
      </p>
    </div>

    <div class="staff">
      <p class="no-pic">Nos testeurs et auteurs</p>
      <p class="specs">
        Débogage, encouragements, idées formidables et irréalisables
      </p>
    </div>
  </div>
</div>
