$grey:#E9EBEC;
$darkGrey: #7C848D;
$white: #FFFFFF;
$blue: #4A8AC7;
$lightBlue: #B7D0E9;


img{
	max-width: 100%;
}
body {
	padding: 0;
	margin: 0;
	#wrapper {
		background: $white;
		#sidebar-wrapper {
			background: $grey;
			.sidebar-nav{ 
				a{
					img{
						padding: 5px 10px 0 10px; 
					}
				}
				hr{
					height: 1px;
					width: 80%;
				    background: $blue;
				    background-image: -webkit-linear-gradient(left, $lightBlue, $blue, $lightBlue);
				    background-image:    -moz-linear-gradient(left, $lightBlue, $blue, $lightBlue);
				    background-image:     -ms-linear-gradient(left, $lightBlue, $blue, $lightBlue);
				    background-image:      -o-linear-gradient(left, $lightBlue, $blue, $lightBlue);
				}
				ul.nav-link,ul.nav-menu {
					list-style: none;
					margin: 0;
					padding: 0;
				}
				ul.nav-link{
					width: 100%;
					text-align: center;
					li{
						text-align: center;
						text-indent: 0px;
						display: inline-block;
						a{
							display: inline !important;
							background: $darkGrey;
							border-radius: 4px;
							-webkit-border-radius:4px;
							-moz-border-radius:4px;
							-ms-border-radius:4px;
							-o-border-radius:4px;
							text-align: center;
							font-size: 15px;
							margin: 5px;
							i{
								color: $white;
							}
							i:hover{
								color: $lightBlue;
							}
						}
					}
				}
				ul.nav-menu{
					color: $darkGrey;
					text-align: left;
					li.sidebar-brand{
						a:active, a:hover{
							background: $white;
							color: $darkGrey;
						}
					}
				}
			}
		}
	}
}