/******** color ********/

$grey: #626A75;
$darkGrey: #32373D;

$white: #FFFFFF;
$black: #000000;


$darkBlue: #32373D;
$blue: #00AEEF;
$lighBlue: #3598DB;
$lighTbBlue: #62A7D1;

$lightRmRed: #DC6D52;
$lightRmGreen: #66C295;
$lightRmOrange: #F3A342;
$lighRmBlue: #62A7D1;
$lighRmGrey:#818C94;
$lighRmPurple:#AF89C8;
$lightRmYellow: #F8AB1D;

/********  typo ********/

@font-face {
  font-family: 'Boogaloo-Regular';
  src:url('../fonts/Boogaloo-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/********  overall ********/
img{
	max-width: 100%;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

$menuWidth: 350px;


.note-icon-important:before {
	content: "\f12a";
  	font-family: FontAwesome;
}

.note-icon-quote:before {
	content: "\f10d";
  font-family: FontAwesome;
}
.note-icon-exemple:before {
	content: "\f0eb";
  font-family: FontAwesome;
}
.note-icon-definition:before {
	content: "\f02e";
  font-family: FontAwesome;
}
.note-icon-methode:before {
	content: "\f085";
  font-family: FontAwesome;
}
.note-icon-remarque:before {
	content: "\f075";
  font-family: FontAwesome;
}

.unchanged {
	list-style-type: none;
}

.del {
  background-color: #FFECEC;
  padding: 3px;
  list-style-type: none;
}

.ins {
  background-color: #EAFFEA;
  padding: 3px;
  list-style-type: none;
}


/********  view term and description********/
table{
    box-shadow: 2px 2px 2px rgba($black,0.2);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    th,td,tr{
    	vertical-align: middle;
    }
	th{
  		background: rgba(#343230,0.85);
  		font-weight: bold;
  		color: white;
  		text-align: center;
	}
	th,td{
		border: 1px solid grey;
		padding: 0 15px;
	}
}
table tr:nth-child(even) {
     background: #eee;
}
table tr:nth-child(odd) {
    background:$white;
}


/********  overall mobil and window ********/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: $white;

    /********  overall menu ********/
    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: $menuWidth;
        width: 0;
        height: 100%;
        margin-left: -$menuWidth;
        overflow-y: auto;
        background: $darkGrey;
        box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.3) inset;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

        /********  content menu ********/
        .sidebar-nav {
            position: absolute;
            top: 0;
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;

            .logo{
            	background: #3598DB;
            	height: 100px !important;
            	a {
	            	img{
	            		padding-top: 5px;
	            		max-width: 250px;
	            	}
				}
            }
            
			ul.nav-link,ul.nav-menu {
				list-style: none;
				margin: 0;
				padding: 0;
				clear: both;
			}
			/********  menu social icon ********/
			ul.nav-link {
				width: 100%;
				text-align: center;
				margin: 15px 0 25px 0;
				li {
					text-align: center;
					text-indent: 0px;
					display: inline-block;
					a {
						display: inline !important;
						background-image:linear-gradient( $lighBlue,$lighTbBlue);
						cursor: pointer;
						box-shadow: 2px 2px 4px rgba(0,0,0,0.20);
						border-radius: 4px;
						-webkit-border-radius:3px;
						-moz-border-radius:3px;
						-ms-border-radius:3px;
						-o-border-radius:3px;
						text-align: center;
						font-size: 15px;
						margin: 5px;
						i {
							color: $white;
						}
						i:hover {
							color: $black;
						}
					}
				}
				.btn-default{
					border: none;
				}
			}

			/********  menu navigation container ********/
			ul.nav-menu {
				text-align: left;
				padding-top: 25px;

				li{
					list-style: none;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow:hidden;
					font-size: 16px;
					background-image:linear-gradient( #7e8793, $grey);
					padding: 7px 0 7px 20px;
					border-bottom: 2px solid rgba($black,0.4);
					border-top: 2px solid rgba($white,0.4);

					a{
						color: $white ;
						min-width: 100%;
						text-decoration: none;
						overflow: hidden;
					}
				}
				li.active{
					background: $blue;
					a{
						color: $white;
					}
				}
				ul{
					display: none;
					background: $white;
					padding: 0;
					
					li{
						border: none;
						margin: 0;
						background: none;
						font-size: 14px;
						padding: 4px 0 4px 40px;
						a{
							color: #AEABB4;
						}
					}
					ul{
						li{
							padding-left: 60px;
						}
						ul{
							li{
								padding-left: 80px;
							}
						}
					}
				}

				ul.active-parent {
					display: block;
				}

				li.plus, li.moins {
					a::after {
						font-family: FontAwesome;
		      			font-size: 20px;
					}
				}
				li.plus{
					a::after{
						content: "\f055";
					}
				}
				li.moins{
					a::after{
						content: "\f056";
					}
				}
			}
        }
    }

    /********  icon toggle ********/
    #icone-menu{
		right: 10px;
		position: absolute;
		z-index: 999;
		margin-right: 0;
		a{
			background-image:linear-gradient( $lighTbBlue,rgb(52,129,177));
			border-radius: 4px;
			-webkit-border-radius:4px;
			-moz-border-radius:4px;
			-ms-border-radius:4px;
			-o-border-radius:4px;
			text-align: center;
			font-size: 15px;
			margin: 5px;
			border: none;
			i {
				color: $white;
				font-size: 30px;
			}
			i:hover {
				color: black;
				border: none;
			}
		}
	}

	 /********  overall content ********/
    #page-content-wrapper {
        width: 100%;
        position: absolute;
        padding: 0 !important;
        
        .container-fluid {
        	padding: 0;
        	/********  title container ********/
			h1.container-title {
				color: $darkGrey;
				font-size: 35px;
				font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
				background: rgba(#AEABB4,0.3);
				height: 100px !important;
				margin:0;
				padding: 30px 90px 0 20px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow:hidden;

			}
			/********  title page general********/
			h2.page-title{
				margin-left: 50px;
				font-size: 35px;
				font-family: Tahoma, Geneva, sans-serif;
			}
			.row{ 
				margin:0;
				padding: 0;
				width: 100%;
				.col-lg-12{
					padding: 0;
					h3{
						padding-left: 50px; 
						margin-top: 40px;
						z-index: 1;
					}
					div.content{
						margin-left: 60px;
						margin-right: 40px;
						padding: 15px;
						font-size: 17px;
						text-align: justify;
						max-width: 1100px;

						blockquote{
							font-style : italic;
						}
						p{
							z-index: 200;
						}

						
						/********  block note overall ********/
						.blockNote{
							border: 2px solid;
							border-radius: 4px;
							margin-top: 20px;
							 

							.block-note-title {
								background: $white;
								margin: -20px 0 0px 30px;
								width: 160px;
								padding: 0 0 30px 8px; 
								font-size: 20px;
								z-index: 2;
								i {
									padding-right: 30px;
									font-size: 25px;
								}
							}
							p{
								padding:0 10px 0 15px;
							}
						}
						/********  block single ********/
						.block-important {
							border-color: $lightRmRed;
							box-shadow: 2px 2px 4px rgba($lightRmRed,0.4);
							.block-note-title-important i{
								color: $lightRmRed;
							}
							.block-note-title-important:after{
								font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
								font-size: 24px;
								content: "Important";
								color: $lightRmRed;
							}
						}

						.block-quote {
							border-color: $lighRmGrey;
							box-shadow: 2px 2px 4px rgba($lighRmGrey,0.4);
							.block-note-title-quote i{
								color: $lighRmGrey;
							}
							.block-note-title-quote:after{
								font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
								font-size: 24px;
								content: "Citation";
								color: $lighRmGrey;
							}
						}

						.block-exemple {
							border-color: $lightRmGreen;
							box-shadow: 2px 2px 4px rgba($lightRmGreen,0.4);
							.block-note-title-exemple i{
								color: $lightRmGreen;
							}
							.block-note-title-exemple:after{
								font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
								font-size: 24px;
								content: "Exemple";
								color: $lightRmGreen;
							}
						}

						.block-definition {
							border-color: $lighRmPurple;
							box-shadow: 2px 2px 4px rgba($lighRmPurple,0.4);
							.block-note-title-definition i{
								color: $lighRmPurple;
							}
							.block-note-title-definition:after{
								font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
								font-size: 24px;
								content: "Définition";
								color: $lighRmPurple;
							}
						}
						.block-methode {
							border-color: $lightRmOrange;
							box-shadow: 2px 2px 4px rgba($lightRmOrange,0.4);
							.block-note-title-methode i{
								color: $lightRmOrange;
							}
							.block-note-title-methode:after {
								font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
								font-size: 24px;
								content: "Méthode";
								color: $lightRmOrange;
							}
						}

						.block-remarque {
							border-color: $lighRmBlue;
							box-shadow: 2px 2px 4px rgba($lighRmBlue,0.4);
							.block-note-title-remarque i{
								color: $lighRmBlue;
							}
							.block-note-title-remarque:after {
								font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
								font-size: 24px;
								content: "Remarque";
								color: $lighRmBlue;
							}
						}


						/********  block math ********/
						.blockMathJax{
							background: rgba(#c8c6cc,0.2);
							padding: 5px;
							border-radius: 4px;
						}

						/********  view term and description********/
						.glossary{
							color: $blue;
							cursor: help;
							border: none;
							background: none;
							padding: 0;
						}
					}
				}	
			}
			/********  index   ********/
			.index {
				h2 {
					margin-left: 50px;
					font-size: 35px;
					font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
				}
				ul {
					width: 90%;

					li {
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow:hidden;
						font-size: 23px;
						width: 100%;
						border-bottom: 1px solid black;
						margin-top: 20px;

						a {
							color: $black ;
							min-width: 100%;
							text-decoration: none;
							overflow: hidden;
						}
					}
					ul{
						li{
							border: none;
							margin: 0;
						}
					}
				}
			}
			/********  btn next and after ********/
			.btn {
				width: 100% !important;
				margin-top: 20px;
				margin-bottom: 40px;

				.btn-after, .btn-next {
					color: $black;
					display: inline-block;
					min-width: 50%;
					a {
						cursor: pointer;
						width: 100px;
						display: inline-block;
						text-decoration: none;
						display: inline-block;
						outline: 0;
						padding: 10px 8px 10px 8px;
						background-color: #f3f6f6 !important;
    				color: #404040 !important;
    				border: 1px solid rgba(0,0,0,0.1);
    				box-shadow: 0px 1px 2px -1px rgba(255,255,255,0.5) inset,0px -2px 0px 0px rgba(0,0,0,0.1) inset;
					}
					a:hover {
						color: $blue;
					}
				}
				.btn-next {
					text-align: right;
					a {
						text-align: left;
	    				i.fa-arrow-circle-right {
	    					width: 20%;
	    					text-align: right !important;
    				}
					}
				}
				.btn-after {
					text-align: left;
					a {
						text-align: right;
						i.fa-arrow-circle-left {
    					text-align: left;
    				}
    				i.fa-arrow-circle-right {
    					text-align: right;
    				}
					}
				}
			}
			.btn:active{
				border: none;
				box-shadow: none;
			}

			/********  page empty ********/
			ul.micro-nav{

			}
		}
    }
}

#wrapper.toggled {
    padding-left: $menuWidth;
}
#wrapper.toggled #sidebar-wrapper {
    width: $menuWidth;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -$menuWidth;
}
.modal{
	background: rgba(0,0,0,0.6);
	position: fixed !important;
	clear: both !important;
	height: 100% !important;
	width: 100% !important;
	top: 0 !important;
	left: 0 !important;
	

	.modal-dialog{
		top:25%;
		margin: 0 auto;
	}
}


@media(min-width:768px ) and (max-width: 1539px){
	.none{
		display: none;
	}
	.block{
		display: block;
	}
    #wrapper {
        padding-left: $menuWidth;
        #sidebar-wrapper {
            width: $menuWidth;
        }
        #page-content-wrapper {
            padding: 20px;
            position: relative;
            .container-fluid {
            	h1.container-title {
            		padding-right: 0px;
            	}
            }
        }
    }
    #wrapper.toggled {
        padding-left: 0;
    }   

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
 
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


@media(min-width:1540px) {
  .none{
		display: none;
	}
	.block{
		display: block;
	}
    #wrapper {
        padding-left: $menuWidth;
        #sidebar-wrapper {
            width: $menuWidth;

        }
        #page-content-wrapper {
            padding: 20px;
            position: relative;

            .container-fluid {
            	h1.container-title {
            		padding-right: 0px;
            	}
            	h2.page-title{
            		width: 1190px;
					margin-left: auto;
    				margin-right: auto;
            	}
            	.row{
            		width: 1190px;
					margin-left: auto;
    				margin-right: auto;
    				.col-lg-12{
    					h3{
	    					padding: 0;
	    				}
	    				div.content{
	    					margin-left: 0px;
	    				}
    				}
            	}
            }
        }
    }
    #wrapper.toggled {
        padding-left: 0;
    }   

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
 
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}