/******** color ********/

$grey: #F0F1F6;
$darkGrey: #5c5954;

$white: #FFFFFF;
$black: #000000;


$darkBlue: #293949;
$blue: #2E4051;
$lighBlue: #3598DB;
$lighTbBlue: #62A7D1;

$lightRmRed: #DC6D52;
$lightRmGreen: #66C295;
$lightRmOrange: #F3A342;
$lighRmBlue: #62A7D1;
$lighRmGrey:#818C94;
$lighRmPurple:#AF89C8;
$lightRmYellow: #F8AB1D;

/********  typo ********/

@font-face {
  font-family: 'Boogaloo-Regular';
  src:url('../fonts/Boogaloo-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	 font-family: 'Lobster';
	 src: url('../fonts/Lobster-Regular.ttf') format('truetype');
	 font-weight: normal;
	 font-style: normal;
}

/********  overall ********/
img{
	max-width: 100%;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

$menuWidth: 350px;


.note-icon-important:before {
	content: "\f12a";
  font-family: FontAwesome;
}

.note-icon-quote:before {
	content: "\f10d";
  font-family: FontAwesome;
}
.note-icon-exemple:before {
	content: "\f0eb";
  font-family: FontAwesome;
}
.note-icon-definition:before {
	content: "\f02e";
  font-family: FontAwesome;
}
.note-icon-methode:before {
	content: "\f085";
  font-family: FontAwesome;
}
.note-icon-remarque:before {
	content: "\f075";
  font-family: FontAwesome;
}

/********  overall mobil and window ********/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: $white;

    /********  overall menu ********/
    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: $menuWidth;
        width: 0;
        height: 100%;
        margin-left: -$menuWidth;
        overflow-y: auto;
        background: $darkBlue;
        box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.3) inset;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

        /********  content menu ********/
        .sidebar-nav {
            position: absolute;
            top: 0;
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            .logo{
            	background: #3598DB;
            	height: 100px !important;
            	a {
	            	img{
	            		padding-top: 5px;
	            		max-width: 250px;
	            	}
				}
            }
            
			ul.nav-link,ul.nav-menu {
				list-style: none;
				margin: 0;
				padding: 0;
				clear: both;
			}
			/********  menu social icon ********/
			ul.nav-link {
				width: 100%;
				text-align: center;
				margin: 15px 0 25px 0;
				li {
					text-align: center;
					text-indent: 0px;
					display: inline-block;
					a {
						display: inline !important;
						background-image:linear-gradient( $lighBlue,$lighTbBlue);
						cursor: pointer;
						box-shadow: 2px 2px 4px rgba(0,0,0,0.20);
						border-radius: 4px;
						-webkit-border-radius:3px;
						-moz-border-radius:3px;
						-ms-border-radius:3px;
						-o-border-radius:3px;
						text-align: center;
						font-size: 15px;
						margin: 5px;
						i {
							color: $white;
						}
						i:hover {
							color: $black;
						}
					}
				}
				.btn-default{
					border: none;
				}
			}
			/********  menu navigation container ********/
			ul.nav-menu {
				color: $black ;
				text-align: left;
				li{
					list-style: none;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow:hidden;
					padding-left: 20px;
					margin-top: 5px;
					font-size: 16px;
					
					a{
						color: $white;
						min-width: 100%;
						text-decoration: none;
					}
				}
				ul{
					background: $blue;
					margin: 0px 0px 20px 0px;
					padding-left: 25px;
					box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;

					li{
						border: none;
						margin: 0;
						background: none;
						font-size: 13px;
						a{

						}
					}
					ul{
						box-shadow: none;
						border: none;
						background: none;
					}
				}
			}
        }
    }

    /********  icon toggle ********/
    #icone-menu{
		width: 50px;
		left: 0px;
		a{
			background-image:linear-gradient( $lighTbBlue,rgb(52,129,177));
			border-radius: 4px;
			-webkit-border-radius:4px;
			-moz-border-radius:4px;
			-ms-border-radius:4px;
			-o-border-radius:4px;
			text-align: center;
			font-size: 15px;
			margin: 5px;
			i {
			color: $white;
			font-size: 30px;
			}
			i:hover {
				color: $black;
			}
		}
	}

	 /********  overall content ********/
    #page-content-wrapper {
        width: 100%;
        position: absolute;
        padding: 0 !important;
        
        .container-fluid {
        	padding: 0;
        	/********  title container ********/
			h1.container-title {
				color: $blue;
				font-size: 50px;
				font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
				background: $grey;
				height: 100px !important;
				margin:0;
				padding: 20px 0 0 20px;
			}
			/********  title page ********/
			h2.page-title{
				margin-left: 50px;
				font-size: 35px;
				font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
			}
			.row{ 
				margin:0;
				padding: 0;
				width: 100%;
				.col-lg-12{
					padding: 0;
					h3{
						padding-left: 30px; 
					}
					div.content{
						margin-left: 40px;
						padding: 15px;
						font-size: 17px;
						text-align: justify;
						overflow:hidden;
						max-width: 1100px;

						blockquote{
							font-style : italic;
						}

						.important {
							border: 2px solid red;
						}
						/********  block remarque overall ********/
						.block{
							border: 2px solid;
							border-radius: 4px;
							 

							.block-note-title {
								background: $white;
								margin: -20px 0 0px 30px;
								width: 160px;
								padding: 0 0 30px 8px; 
								font-size: 20px;
								z-index: 2;
								i {
									padding-right: 30px;
									font-size: 25px;
								}
							}
							p{
								padding:0 10px 0 15px;
							}
						}
						/********  block single ********/
						.block-important {
							border-color: $lightRmRed;
							box-shadow: 2px 2px 4px rgba($lightRmRed,0.4);
							.block-note-title-important i{
								color: $lightRmRed;
							}
							.block-note-title-important:after{
								font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
								font-size: 24px;
								content: "Important";
								color: $lightRmRed;
							}
						}

						.block-quote {
							border-color: $lighRmGrey;
							box-shadow: 2px 2px 4px rgba($lighRmGrey,0.4);
							.block-note-title-quote i{
								color: $lighRmGrey;
							}
							.block-note-title-quote:after{
								font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
								font-size: 24px;
								content: "Citation";
								color: $lighRmGrey;
							}
						}

						.block-exemple {
							border-color: $lightRmGreen;
							box-shadow: 2px 2px 4px rgba($lightRmGreen,0.4);
							.block-note-title-exemple i{
								color: $lightRmGreen;
							}
							.block-note-title-exemple:after{
								font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
								font-size: 24px;
								content: "Exemple";
								color: $lightRmGreen;
							}
						}

						.block-definition {
							border-color: $lighRmPurple;
							box-shadow: 2px 2px 4px rgba($lighRmPurple,0.4);
							.block-note-title-definition i{
								color: $lighRmPurple;
							}
							.block-note-title-definition:after{
								font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
								font-size: 24px;
								content: "Définition";
								color: $lighRmPurple;
							}
						}
						.block-methode {
							border-color: $lightRmOrange;
							box-shadow: 2px 2px 4px rgba($lightRmOrange,0.4);
							.block-note-title-methode i{
								color: $lightRmOrange;
							}
							.block-note-title-methode:after{
								font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
								font-size: 24px;
								content: "Méthode";
								color: $lightRmOrange;
							}
						}

						.block-remarque {
							border-color: $lighRmBlue;
							box-shadow: 2px 2px 4px rgba($lighRmBlue,0.4);
							.block-note-title-remarque i{
								color: $lighRmBlue;
							}
							.block-note-title-remarque:after{
								font-family: "Boogaloo-Regular",Helvetica,Arial,sans-serif;
								font-size: 24px;
								content: "Remarque";
								color: $lighRmBlue;
							}
						}
					}
				}	
			}
			/********  btn next and after ********/
			.btn{
				width: 100%;
				.btn-after, .btn-next{
					color: $black;
					display: inline-block;
					width: 50%;
					a{
						cursor: pointer;
						width: 90px;
						display: inline-block;
						color: $lighBlue;
						text-decoration: none;
						display: inline-block;
					}
					a:hover{
						color: $blue;
					}
					
				}
				.btn-next{
					text-align: right;
				}
				.btn-after{
					text-align: left;
				}
			}
		}
    }
}

#wrapper.toggled {
    padding-left: $menuWidth;
}
#wrapper.toggled #sidebar-wrapper {
    width: $menuWidth;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -$menuWidth;
}


@media(min-width:768px ) and (max-width: 1539px){
	.none{
		display: none;
	}
	.block{
		display: block;
	}
    #wrapper {
        padding-left: $menuWidth;
        #sidebar-wrapper {
            width: $menuWidth;
        }
        #page-content-wrapper {
            padding: 20px;
            position: relative;
        }
    }
    #wrapper.toggled {
        padding-left: 0;
    }   

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
 
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
@media(min-width:1540px) {
  .none{
		display: none;
	}
	.block{
		display: block;
	}
    #wrapper {
        padding-left: $menuWidth;
        #sidebar-wrapper {
            width: $menuWidth;

        }
        #page-content-wrapper {
            padding: 20px;
            position: relative;

            .container-fluid {
            	h2.page-title{
            		width: 1190px;
					margin-left: auto;
    				margin-right: auto;
            	}
            	.row{
            		width: 1190px;
					margin-left: auto;
    				margin-right: auto;
            	}
            }
        }
    }
    #wrapper.toggled {
        padding-left: 0;
    }   

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
 
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}