$grey:#E9EBEC;
$greey:#d1d3d4;
$darkGrey: #7C848D;
$white: #FFFFFF;
$blue: #4A8AC7;
$lightBlue: #B7D0E9;
@font-face {
	 font-family: 'Pacifico';
	 src: url('../fonts/pacifico.ttf') format('truetype');
	 font-weight: normal;
	 font-style: normal;
}
@font-face {
	 font-family: 'Lobster';
	 src: url('../fonts/Lobster-Regular.ttf') format('truetype');
	 font-weight: normal;
	 font-style: normal;
}


img{
	max-width: 100%;
}
.none{
	display: none;
}
.block{
	display: block;
}
body {
	padding: 0;
	margin: 0;
	#wrapper {
		background: $white;
		#sidebar-wrapper {
			background: $grey;
			.sidebar-nav {
				a {
					img {
						padding: 5px 10px 0 10px; 
					}
				}
				hr {
					height: 1px;
					width: 80%;
				    background: $blue;
				    background-image: -webkit-linear-gradient(left, $lightBlue, $blue, $lightBlue);
				    background-image:    -moz-linear-gradient(left, $lightBlue, $blue, $lightBlue);
				    background-image:     -ms-linear-gradient(left, $lightBlue, $blue, $lightBlue);
				    background-image:      -o-linear-gradient(left, $lightBlue, $blue, $lightBlue);
				}
				ul.nav-link,ul.nav-menu {
					list-style: none;
					margin: 0;
					padding: 0;
				}
				ul.nav-link {
					width: 100%;
					text-align: center;
					li {
						text-align: center;
						text-indent: 0px;
						display: inline-block;
						a {
							display: inline !important;
							background: $darkGrey;
							border-radius: 4px;
							-webkit-border-radius:4px;
							-moz-border-radius:4px;
							-ms-border-radius:4px;
							-o-border-radius:4px;
							text-align: center;
							font-size: 15px;
							margin: 5px;
							i {
								color: $white;
							}
							i:hover {
								color: $lightBlue;
							}
						}
					}
				}
				ul.nav-menu {
					color: $darkGrey;
					text-align: left;
					li.sidebar-brand{
						a.active, a:hover{
							background: $white;
							color: $darkGrey;
						}
						ul,li{
							a{
								background: $greey;
								color: $darkGrey;
							}
						}
					}
					li.active{
						a{
							background: $white;
							color: $darkGrey;
						}
						ul,li{
							a{
								background: $white;
								color: $darkGrey;
							}
							ul,li{
								a{
									background: $white;
									color: $darkGrey;
								}
							}
						}
					}
				}
			}
		}
		#page-content-wrapper {
			.container-fluid {
				h1.container-title {
					color: $blue;
					font-size: 50px;
					border-bottom: 1px solid #eee;
					font-family: "Pacifico",Helvetica,Arial,sans-serif;
				}
				h2.page-title{
					margin-left: 50px;
					font-size: 35px;
					font-family: "Lobster",Helvetica,Arial,sans-serif;
				}
				.row, .col-lg-12{
					div.content{
						margin-left: 20px;
						font-size: 17px;
						text-align: justify;
						blockquote{
							font-style : italic;
						}

						.quote {
							border: 2px solid purple;
						}

						.important {
							border: 2px solid red;
						}
					}
				}
			}
		}
	}
	#wrapper.toggled{
		padding-left: 50px;
		#icone-menu{
			width: 50px;
			position: fixed;
			left: 0px;
			a{
				background: $darkGrey;
				border-radius: 4px;
				-webkit-border-radius:4px;
				-moz-border-radius:4px;
				-ms-border-radius:4px;
				-o-border-radius:4px;
				text-align: center;
				font-size: 15px;
				margin: 5px;
				i {
				color: $white;
				font-size: 30px;
				}
				i:hover {
					color: $lightBlue;
				}
			}
		}
	}
}

.note-icon-important:before {
	content: "\f12a";
  font-family: FontAwesome;
}

.note-icon-quote:before {
	content: "\f10d";
  font-family: FontAwesome;
}
.note-icon-exemple:before {
	content: "\f0eb";
  font-family: FontAwesome;
}
.note-icon-definition:before {
	content: "\f02e";
  font-family: FontAwesome;
}
.note-icon-methode:before {
	content: "\f085";
  font-family: FontAwesome;
}
.note-icon-remarque:before {
	content: "\f075";
  font-family: FontAwesome;
}