/******** colors ********/

$grey: #f2f2f2;
$lightGrey: #F5F5F5;
$textGrey: #333333;
$bg: #e3f4fc;
$sidebar: rgba(246,247,146,0.9);
$sidebarGrey: rgba(51,55,69,0.9);
$blue: #7dc7ec;
$IELblue: #5B8AC2;
$important: rgba(234,46,73,0.9);
$exemple: #cef8e4;
$white: rgba(255,255,255,0.92);

/******** typos ********/

@font-face {
  font-family: 'OpenSans';
  src:url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$menuWidth: 330px;

.note-icon-important:before {
	content: "\f12a";
  font-family: FontAwesome;
}

.note-icon-quote:before {
	content: "\f10d";
  font-family: FontAwesome;
}
.note-icon-exemple:before {
	content: "\f0eb";
  font-family: FontAwesome;
}
.note-icon-definition:before {
	content: "\f02e";
  font-family: FontAwesome;
}
.note-icon-methode:before {
	content: "\f085";
  font-family: FontAwesome;
}
.note-icon-remarque:before {
	content: "\f075";
  font-family: FontAwesome;
}

.unchanged {
	list-style-type: none;
}

.del {
  background-color: #FFECEC;
  padding: 3px;
  list-style-type: none;
}

.ins {
  background-color: #EAFFEA;
  padding: 3px;
  list-style-type: none;
}


body {
  background: $bg;
}

/********  overall mobil and window ********/
#wrapper {
  width: 100%;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: "OpenSans",Arial,sans-serif;

  #page-content-wrapper {
  	width: 100%;
    padding: 40px 50px 0px 50px;
    float: left;

    .container-fluid {
      background: $blue;
      padding: 30px 50px 50px 50px;
      padding-right: 30%;

			.row{
				margin:0;
				padding: 0;
				width: 100%;
        text-align: justify;
        margin-bottom: 0px;

				.col-lg-12{
					padding: 0;

          .content {
            .block {
              background: $white;
              left: 0;
              margin-left: -100px;
              padding: 30px 50px 30px 100px;

              h3 {
                margin-top: 0;
                margin-bottom: 30px;
                color: $textGrey;
              }
            }

            .block > * {
              max-width: 1200px;
            }

            .block.block-note {
              margin: 40px 0 40px 0;
              padding: 30px;
            }
            .block.block-note.block-important {
              background: $important;
              box-shadow: 0 3px 3px rgba(0,0,0,0.40);
              color: white;
              h3 {
                color: white
              }
            }
            .block.block-note.block-exemple {
              background: $exemple;
              box-shadow: 0 3px 3px rgba(0,0,0,0.40);
            }
            .block.block-math {
              margin: 30px 0 30px 0;
              padding: 15px;
              background: url('../images/math-bg.png') repeat;
              box-shadow: 0 3px 3px rgba(0,0,0,0.50);
            }
          }
				}
			}
	  }

	  img {
	  	width: 100%
	  }

	  h1, h2, h3, h4 {
	  	font-weight: 300;
	  	color: $blue;
	  }

	  h1 {
	  	color: white;
	  	font-size: 4em;
	  }
  }

  #sidebar-wrapper {
    z-index: 1;
    position: fixed;
    width: 25%;
    height: 100%;
    right: 50px;
    top: 0;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    /********  content menu ********/
    .sidebar-nav {
      position: absolute;
      top: 80px;
      width: 100%;
      padding: 5%;
      list-style: none;
      background: $sidebar;
      color: $textGrey;

      #brand {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        .logo {
          margin: 0 15%;
          a {
            width: 100%;
            img {
              max-width: 100%;
            }
          }
        }
      }

      .nav-link {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 10px;

        li {
          display: inline
        }
      }

      ul {
        padding-left: 0px;
        list-style-type: none;
        li {
          a {
            color: $textGrey;
          }
          ul {
            padding-left: 20px;
            li {

            }
          }
        }
      }
		}
  }
}

.extra-flying-div {
  background: $sidebarGrey;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25%;
  z-index: 0;
  right: -50px;
}

.modal{
	background: rgba(0,0,0,0.6);
	position: fixed !important;
	clear: both !important;
	height: 100% !important;
	width: 100% !important;
	top: 0 !important;
	left: 0 !important;

	.modal-dialog{
		top: 25%;
		margin: 0 auto;
	}
}
