/******** colors ********/

$grey: #f2f2f2;
$black: rgb(0,0,0);
$lightGrey: #F5F5F5;
$textGrey: #333333;
$bg: #e3f4fc;
$sidebar: rgba(246,247,146,0.9);
$sidebarGrey: rgba(51,55,69,0.9);
$blue: #7dc7ec;
$IELblue: #5B8AC2;
$remarque: #caeaff;
$remarqueI: #7ccbff;
$important: rgba(234,46,73,0.9);
$importantI: #ffc6c3;
$quote:   #cbd0d3;
$exemple: #cef8e4;
$exempleI: #1ed0ac;
$defintion: #d3bfe1;
$defintionI: #AF89C8;
$methode: #fbe2c3;
$methodeI: #F3A342;
$white: rgba(255,255,255,0.92);

/******** typos ********/

@font-face {
  font-family: 'OpenSans';
  src:url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$menuWidth: 330px;

.note-icon-important:before {
	content: "\f12a";
  font-family: FontAwesome;
}
.note-icon-quote:before {
	content: "\f10d";
  font-family: FontAwesome;
}
.note-icon-exemple:before {
	content: "\f0eb";
  font-family: FontAwesome;
}
.note-icon-definition:before {
	content: "\f02e";
  font-family: FontAwesome;
}
.note-icon-methode:before {
	content: "\f085";
  font-family: FontAwesome;
}
.note-icon-remarque:before {
	content: "\f075";
  font-family: FontAwesome;
}

.unchanged {
	list-style-type: none;
}

.del {
  background-color: #FFECEC;
  padding: 3px;
  list-style-type: none;
}

.ins {
  background-color: #EAFFEA;
  padding: 3px;
  list-style-type: none;
}


body {
  background: $bg;
}

/********  overall mobil and window ********/
#wrapper {
  width: 100%;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: "OpenSans",Arial,sans-serif;

  #page-content-wrapper {
  	width: 100%;
    padding: 40px 50px 0px 50px;
    float: left;

    .container-fluid {
      background: $blue;
      padding: 30px 50px 50px 50px;
      padding-right: 30%;

			.row{
				margin:0;
				padding: 0;
				width: 100%;
        text-align: justify;
        margin-bottom: 0px;

				.col-lg-12{
					padding: 0;

          .content {
            .block {
              background: $white;
              left: 0;
              margin-left: -100px;
              padding: 30px 50px 30px 100px;
              font-size: 15px;

              h3 {
                margin-top: 0;
                margin-bottom: 30px;
                color: $textGrey;
              }
              table{
                box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10px;

                th,td,tr{
                  vertical-align: middle;
                }
                th{
                  background: #76838b;
                  font-weight: bold;
                  color: white;
                  text-align: center !important;

                }
                th,td{
                  border: 1px solid $black;
                  padding: 0 15px;
                  text-align: left;
                  p{
                    margin: 10px 0 ;
                  }
                }
              }
              table tr:nth-child(even) {
                   background: #e0e3e5;
              }
              table tr:nth-child(odd) {
                  background:$white;
              }
              .glossary{
                color: $blue;
                cursor: help;
                border: none;
                background: none;
                padding: 0;
              }

            }

            .block > * {
              max-width: 1200px;
            }

            .block.block-note {
              margin: 40px 0 40px 0;
              padding: 10px 20px 20px 20px;
              box-shadow: 2px 2px 8px rgba(0,0,0,0.50);

              .block-note-title{
                display: table;
                margin-bottom: 10px;

                i, h3, i:after, i:before{
                  vertical-align: middle;
                  display: table-cell;
                }
                h3 {
                  padding-left: 20px;
                  color: $textGrey;
                }
                i{
                  font-size: 40px !important;
                  color:  $textGrey ;
                }

              }
            }

            .block-remarque {
              background: $remarque;
              .block-note-title{
                i{
                  color:  $remarqueI !important;
                }
              }
            }

            .block-important {
              background: $important;
              color: white;
              .block-note-title{
                i {
                  color:  $importantI !important;
                }
                h3 {
                  color: white !important;
                }
              }
            }

            .block-quote {
              background: $white;
              color: $textGrey !important;
              left: 0;
              font-style: italic;

              .block-note-title{
                i{
                  color:  $quote !important;
                }
              }
            }

            .block-exemple {
              background: $exemple;
              color: $textGrey !important;
              .block-note-title{
                i{
                  color:  $exempleI !important;
                }
              }
            }

            .block-definition {
              background: $defintion;
              .block-note-title{
                i{
                  color:  $defintionI !important;
                }
              }
            }

            .block-methode {
              background: $methode;
              .block-note-title{
                i{
                  color:  $methodeI !important;
                }
              }
            }

            .block-exemple {
              background: $exemple;
              box-shadow: 0 3px 3px rgba(0,0,0,0.40);
              .block-note-title{
                i{
                  color:  $exempleI !important;
                }
              }
            }

            .block.block-math {
              margin: 30px 0 30px 0;
              padding: 15px;
              background: url('../images/math-bg.png') repeat;
              box-shadow: 0 3px 3px rgba(0,0,0,0.50);

              h3{
                margin-bottom: 10px;
              }
            }
            .block.block-media {
              text-align: center;
              img{
                box-shadow: 1.5px 3px 3px rgba(0,0,0,0.50);
                max-width: 1000px;
              }
            }
          }
				}
			}
      .row.index{
        margin:0;
				padding: 0;
				width: 100%;
        text-align: justify;
        margin-bottom: 0px;

				.col-lg-12{
					padding: 0;

          .content{
            background: $white;
            left: 0;
            margin-left: -100px;
            padding: 30px 50px 30px 100px;
            font-size: 15px;
            box-shadow: 3px 2px 8px rgba(0,0,0,0.5);
            li{
              list-style: none;
              border-bottom: 1px solid $blue;
              margin-bottom: 15px;
            }
            li:last-child{
              margin-bottom: 10px;
            }
            ul{
              border-left: none;
              padding-left: 25px;
              li:before{
                content: "\f054";
                font-family: FontAwesome;
                margin-right: 5px;
                color: $blue;
                font-size: 20px;
              }
              li{
                border: none;
                margin-bottom: 0;
                margin-top: 0;
              }
              ul{
                padding-left: 40px;
                li:before{
                  content: "";
                }
                li{
                  list-style-type: square;
                  color: $blue;
                }
                ul{
                  li{
                    list-style: none;
                  }
                  li:last-child{
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
      .row.btn{
        width: 100%;
        .btn-next,.btn-after{

          a{
            width: 120px;
            text-decoration: none;
            display: inline-block;
            margin: 15px;
            text-align: center;
            color: $white;
            cursor: pointer;
            box-shadow: 0px 5px rgba(51,55,69,0.4), 0 3px 5px rgba(0,0,0,.3);
            transition: all .2s ease-in-out;
            text-align: center;
            text-decoration: none;
            transition: background-color .25s;
            padding: 7px;
            background: rgba(51,55,69,0.4);
            display: inline-block;
            outline: 0;
            i{
              font-size: 20px;
            }
          }
          a:hover,{
            transform: scale(1.1);
          }
          a:active{
            box-shadow: none;
            box-shadow: 3px 2px 2px rgba(0,0,0,0.2) inset, 0 2px 2px rgba(0,0,0,0.3) inset;
          }

        }
        .btn-next{
          text-align: right;
        }
      }
      .btn:active{
        border: none;
        box-shadow: none;
      }
	  }

	  img {
	  	width: 100%
	  }

	  h1, h2, h3, h4 {
	  	font-weight: 300;
	  	color: $blue;
      text-align: left;
	  }

	  h1 {
	  	color: white;
	  	font-size: 4em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
	  }
  }

  #sidebar-wrapper {
    z-index: 1;
    position: fixed;
    width: 25%;
    height: 100%;
    right: 50px;
    top: 0;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    /********  content menu ********/
    .sidebar-nav {
      position: absolute;
      top: 80px;
      width: 100%;
      padding: 5%;
      list-style: none;
      background: $sidebar;
      color: $textGrey;

      #brand {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        .logo {
          margin: 0 15%;
          a {
            width: 100%;
            img {
              max-width: 100%;
            }
          }
        }
      }

      .nav-link {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 25px;
        padding-left: 0;


        li {
          display: inline;
          a{
            box-shadow: 0px 5px rgba(#ebebeb,0.93), 0 3px 5px rgba(0,0,0,.6);
            background: #f5f5f5;
            transition: all .2s ease-in-out;
            border: none;
            margin-right: 5px;
          }
          a:hover,{
            transform: scale(1.1);
          }
        }
      }

      ul#nav-menu {
        padding-left: 0px;
        list-style-type: none;
        li {
          padding-top: 10px;
          a {
            color: $textGrey;
            text-decoration: none;
            width: 90%;
          }
          a:hover{
            font-weight: bold;
          }
          span{
            width: 10%;
            float: right;
            text-align: center;
          }
        }
        li.active{

          font-weight: bold;

          a{
            color: $blue;
          }

        }
        ul {
          padding-left: 15px;
          display: none;
          list-style-type: none;
          border-left: 3px solid rgb(218,220,16);
          li{
            padding: 0;
          }
        }
        ul.active-parent {
          display: block;
        }
      }
		}
  }
}

span.level-icon {
  i {
    width: 20px
  }
}

.extra-flying-div {
  background: $sidebarGrey;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25%;
  z-index: 0;
  right: -50px;
}

.modal{
	background: rgba(0,0,0,0.6);
	position: fixed !important;
	clear: both !important;
	height: 100% !important;
	width: 100% !important;
	top: 0 !important;
	left: 0 !important;

	.modal-dialog{
		top: 25%;
		margin: 0 auto;
	}
}
