<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour, <%= @resource.email %></h1>
		<p>Votre mot de passe a été modifié.</p>
    <p>
      Cordialement,<br>
      L'équipe d'<a href="http://iutenligne.net/">IUTenLigne</a>
    </p>
  </body>
</html>
