<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour, <%= @resource.email %></h1>
		<p>Vous avez effectué une demande de changement de mot de passe.</p>
		<p>Pour ce faire, cliquez sur le lien ci-dessous :</p>
		<p><%= link_to 'Changer de mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>
    <p>
      Cordialement,<br>
      L'équipe d'<a href="http://iutenligne.net/">IUTenLigne</a>
    </p>
  </body>
</html>
