<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour, <%= @resource.email %></h1>
		<p>Votre compte a été verrouillé suite à un nombre trop important de tentatives de connexion.</p>
		<p>Cliquez sur le lien ci-dessous pour le déverrouiller :</p>
		<p><%= link_to 'Déverrouiller mon compte', unlock_url(@resource, unlock_token: @token) %></p>
    <p>
      Cordialement,<br>
      L'équipe d'<a href="http://iutenligne.net/">IUTenLigne</a>
    </p>
  </body>
</html>
