<nav class="navbar">
	<div id="logo" data-no-turbolink>
		<h1><%= link_to(raw('<i class="fa fa-plane"></i>'), '/#/') %></h1>
	</div>

	<div id="top-menu" class="header-collapse">
		<ul>
			<li><%= link_to raw('<i class="fa fa-users"></i>'), "/#/", data: { no_turbolink: true } %></li>
			<li><%= link_to raw('<i class="fa fa-users"></i>'), new_container_path %></li>
			<% if user_signed_in? %>
			<% end %>
		</ul>
	</div>
</nav>